@model SCM.Models.ViewModels.VifUpdateViewModel

@{
    ViewData["Title"] = "Edit";
}

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/Home">Home</a></li>
    <li class="breadcrumb-item"><a href="/Infrastructure/Index">Infrastructure</a></li>
    <li class="breadcrumb-item"><a href="/InfrastructureAttachment/GetAll">Infrastructure Attachments - [@ViewBag.Attachment.Device.Name]</a></li>
    <li class="breadcrumb-item"><a href="/InfrastructureVif/GetAllByAttachmentID/@ViewBag.Attachment.AttachmentID">Infrastructure VIFs - [@ViewBag.Attachment.Name]</a></li>
    <li class="breadcrumb-item active">Edit - [@Model.Name]</li>
</ol>

<h2>Edit VIF '@Model.Name'</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <hr />
        @{await Html.RenderPartialAsync("_ValidationModelErrorPartial");}
        <input type="hidden" asp-for="VifID" />
        <input type="hidden" asp-for="AttachmentID" />
        <input type="hidden" asp-for="IsLayer3" />
        <input type="hidden" asp-for="RowVersion" />
        <div class="form-group">
            <label asp-for="ContractBandwidthPool" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="ContractBandwidthPoolID" class="form-control" asp-items="ViewBag.ContractBandwidthPoolID"
                        data-toggle="tooltip" data-placement="right" title="Select a Contract Bandwidth Pool if you wish to share bandwidth with another VIF">
                    <option value="">Select Contract Bandwidth Pool</option>
                </select>
                <span asp-validation-for="ContractBandwidthPoolID" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ContractBandwidth" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="ContractBandwidthID" class="form-control" asp-items="ViewBag.ContractBandwidthID"
                        data-toggle="tooltip" data-placement="right" title="Select a Contract Bandwidth if you wish to dedicate bandwidth to this VIF">
                    <option value="">Select Contract Bandwidth</option>
                </select>
                <span asp-validation-for="ContractBandwidthID" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-2">
            </div>
            <div class="col-md-10">
                <label class="checkbox-inline">
                    <input type="checkbox" asp-for="TrustReceivedCosDscp"
                           data-toggle="tooltip" title="Trust the COS and DSCP markings received in packets on this VIF"> <label asp-for="TrustReceivedCosDscp"></label>
                </label>
            </div>
        </div>
        @if (Model.RoutingInstance != null)
        {
            if (Model.RoutingInstance.RoutingInstanceType.IsVrf)
            {
                <div class="form-group">
                    <label asp-for="RoutingInstance" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <select asp-for="RoutingInstanceID" class="form-control" asp-items="ViewBag.RoutingInstanceID"
                                data-toggle="tooltip" data-placement="right" title="Select an existing VRF">
                            <option value="">-- Select Existing VRF --</option>
                        </select>
                        <span asp-validation-for="RoutingInstanceID" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-2">
                    </div>
                    <div class="col-md-10">
                        <label class="checkbox-inline">
                            <input type="checkbox" asp-for="CreateNewRoutingInstance" data-toggle="tooltip" title="Create a new VRF"> <label asp-for="CreateNewRoutingInstance"></label>
                        </label>
                    </div>
                </div>
            }
            else
            {
                <input type="hidden" asp-for="RoutingInstanceID" />
            }
        }
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" id="Edit" class="btn btn-success" asp-action="Edit">
                    <span class="glyphicon glyphicon-save"></span>&nbsp;Save
                </button>
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="GetAllByAttachmentID" asp-route-id="@ViewBag.Attachment.AttachmentID">Back to VIFs List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">

        (function ($) {

            var $contractBandwidthPool = $('#ContractBandwidthPoolID'),
                contractBandwidthPool = $contractBandwidthPool[0],
                $contractBandwidth = $('#ContractBandwidthID'),
                contractBandwidth = $contractBandwidth[0],
                $trustReceivedCosDscp = $("#TrustReceivedCosDscp"),
                trustReceivedCosDscp = $trustReceivedCosDscp[0],
                $vrf = $('#RoutingInstanceID'),
                vrf = $vrf[0],
                $createNewRoutingInstance = $('#CreateNewRoutingInstance');


            // Initialise all tool-tips

            $('[data-toggle="tooltip"]').tooltip();

            $contractBandwidthPool.on('change', function (e) {

                contractBandwidth.selectedIndex = 0;
            });

            $contractBandwidth.on('change', function (e) {

                contractBandwidthPool.selectedIndex = 0;
                trustReceivedCosDscp.disabled = false;
            });

            if ($createNewRoutingInstance.length) {

                if ($createNewRoutingInstance[0].checked) {

                    vrf.selectedIndex = 0;
                    vrf.disabled = true;
                }

                $createNewRoutingInstance.on('click', function () {

                    if (this.checked) {

                        vrf.selectedIndex = 0;
                        vrf.disabled = true;
                    }
                    else {

                        vrf.disabled = false;
                    }
                });
            }
        }(jQuery));

    </script>
}