@model SCM.Models.ViewModels.VifViewModel

@{
    ViewData["Title"] = "VIF Deleted";
}

<h2>VIF Deleted</h2>

@if (@ViewData["VifDeletedMessage"] != null)
{
    <div class="alert alert-danger">@ViewData["VifDeletedMessage"]</div>
}

<a asp-action="GetAllByAttachmentID" asp-controller="InfrastructureVif" asp-route-id="@Model.AttachmentID">Back to List</a>