@model Mind.WebUI.Models.VpnRequestViewModel
@{
    ViewData["Title"] = "Create VPN";
}
<div id="crumbs">
    <ul>
        <li><a href="/Home"><i class="fa fa-home" aria-hidden="true"></i></a></li>
        <li><a href="/Tenant/GetAll"><i class="fa" aria-hidden="true"></i> Tenants</a></li>
        <li><a href="/Vpn/GetAllByTenantId?tenantId=@ViewBag.Tenant.TenantId"><i class="fa active" aria-hidden="true"></i>VPNs - [@ViewBag.Tenant.Name]</a></li>
        <li class="active"><a href="#"><i class="fa" aria-hidden="true"></i>Create</a></li>
    </ul>
</div>
<h2>Create a VPN for Tenant '@ViewBag.Tenant.Name'</h2>
<form id="createForm" asp-action="Create">
    @{await Html.RenderPartialAsync("_ValidationModelErrorPartial");}
    <input type="hidden" asp-for="TenantId" value="@ViewBag.Tenant.TenantId" />
    <input type="hidden" asp-for="Stage" />
    <input type="hidden" asp-for="SyncToNetwork" />
    <div id="createVpnWizard">
        <h3>Name and Description</h3>
        <section id="name-and-description">
            <br />
            <div mind-alert="info" message="
                Give a user-friendy name for the VPN and a description.">
            </div>
            <div class="form-group row">
                <label asp-for="Name" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger" />
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="Description" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger" />
                </div>
            </div>
            <br />
            <div mind-alert="info" message="
                Typically the Nova option should be enabled. Disable it if you want to customise the VPN using
                route targets from a specific range, or if you want to associate the VPN with a non-standard routing instance.">
            </div>
            <div class="form-group row">
                <label class="col-form-label col-sm-2"></label>
                <div class="col-sm-10">
                    <div class="custom-control custom-checkbox">
                        <input class="form-check-input custom-control-input" type="checkbox" asp-for="IsNovaVpn" checked data-toggle="tooltip"
                               title="Request a standard Nova VPN" data-placement="left" />
                        <label class="form-check-label custom-control-label" asp-for="IsNovaVpn"></label>
                    </div>
                </div>
            </div>
            <div mind-alert="info" message="
                Extranets are a special type of VPN which provide a 'cross-connect' between two or more other VPNs.
                Enable the extranet option to create a cross-connect VPN.">
            </div>
            <div class="form-group row">
                <label class="col-form-label col-sm-2"></label>
                <div class="col-sm-10">
                    <div class="custom-control custom-checkbox">
                        <input class="form-check-input custom-control-input" type="checkbox" asp-for="IsExtranet" data-toggle="tooltip"
                               title="Request an extranet VPN" data-placement="left" />
                        <label class="form-check-label custom-control-label" asp-for="IsExtranet"></label>
                    </div>
                </div>
            </div>
        </section>
        <h3>Protocol and Topology</h3>
        <section id="protocol-and-topology">
            <br />
            <div mind-alert="info" message="
                Select a protocol type of IP for a layer 3, IP-based connectivity service.
                Select a protocol type of Ethernet for a layer 2 Ethernet-based connectivity service.">
            </div>
            <div class="form-group row">
                <label asp-for="ProtocolType" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <select asp-for="ProtocolType" class="form-control" asp-items="ViewBag.ProtocolType">
                        <option value="">--  Select Protocol Type --</option>
                    </select>
                    <span asp-validation-for="ProtocolType" class="text-danger"></span>
                </div>
            </div>
            <div mind-alert="info" message="
                Select an address-family option. An address-family is a sub-category of the protocol selection. For example,
                IPv4 is an address-family option for an IP-based connectivity service.">
            </div>
            <div class="form-group row">
                <label asp-for="AddressFamily" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <select asp-for="AddressFamily" class="form-control" asp-items="ViewBag.AddressFamily">
                        <option value="">--  Select Address-Family --</option>
                    </select>
                    <span asp-validation-for="AddressFamily" class="text-danger"></span>
                </div>
            </div>
            <div mind-alert="info" message="
                The topology of the VPN determines how sites connected ot the VPN are able to communicate.
                For example, selecting the Meshed option for an IP-based VPN allows any site to communicate with
                any other site.">
            </div>
            <div class="form-group row">
                <label asp-for="TopologyType" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <select asp-for="TopologyType" class="form-control" asp-items="ViewBag.TopologyType">
                        <option value="">-- Select Topology Type --</option>
                    </select>
                    <span asp-validation-for="TopologyType" class="text-danger"></span>
                </div>
            </div>
        </section>
        <h3>Tenancy Type</h3>
        <section id="tenancyType">
            <br />
            <div mind-alert="info" message="
                Select a tenancy type for the VPN. A tenancy type of 'single' means that only sites which belong to the tenant who owns
                the VPN can be attached to the VPN. If the tenancy type is 'multi' then any site belonging to any tenant can
                be attached to the VPN.">
            </div>
            <div class="form-group row">
                <label asp-for="TenancyType" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <select asp-for="TenancyType" class="form-control" asp-items="ViewBag.TenancyType">
                        <option value="">-- Select Tenancy Type --</option>
                    </select>
                    <span asp-validation-for="TenancyType" class="text-danger"></span>
                </div>
            </div>
        </section>
        <h3>Region</h3>
        <section id="region">
            <br />
            <div mind-alert="info" message="
                Optionally select a geographical region. If this option is selected then only sites in the specified
                region can be attached to the VPN.">
            </div>
            <div class="form-group row">
                <label asp-for="Region" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <select asp-for="Region" class="form-control" asp-items="ViewBag.Region">
                        <option value="">-- Optionally Select Region --</option>
                    </select>
                    <span asp-validation-for="Region" class="text-danger"></span>
                </div>
            </div>
        </section>
        <h3>Plane</h3>
        <section id="plane">
            <br />
            <div mind-alert="info" message="
                Optionally select a provider network plane. If a plane option is selected then only sites which are
                attached to the designated plane can participate in the VPN. Typically the plane option is used for
                'Live/Live' routing where two VPNs, one for each plane, are required.">
            </div>
            <div class="form-group row">
                <label asp-for="Plane" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <select asp-for="Plane" class="form-control" asp-items="ViewBag.Plane">
                        <option value="">-- Optionally Select Plane --</option>
                    </select>
                    <span asp-validation-for="Plane" class="text-danger"></span>
                </div>
            </div>
        </section>
        <!-- View component for displaying a grid of attachment sets which belong to the vpn -->
        @await Component.InvokeAsync("VpnAttachmentSets", new
        {
            vpnAttachmentSetRequests = Model?.VpnAttachmentSets
        })
    </div>
</form>
<div class="modal fade" id="duplicateItemModal" tabindex="-1" role="dialog" aria-labelledby="duplicateItemModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="duplicateItemModalLabel">Attachment Set Already Exists</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                The selected attachment set is already bound to the VPN
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div>
    <a mind-nav-link-back-btn="true" asp-action="GetAllByTenantID" asp-route-tenantID="@ViewBag.Tenant.TenantId">Back to VPNs</a>
</div>
<!-- Loading Spinner partial view -->
@{await Html.RenderPartialAsync("_LoadingSpinnerPartial");}
<!-- Stage or sync to network partial view -->
@{await Html.RenderPartialAsync("_NetworkStageOrSyncModalPartial");}
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    @{await Html.RenderPartialAsync("_VpnCreateScriptsPartial");}
}
