@model SCM.Models.ViewModels.VpnRequestViewModel

@{
    ViewData["Title"] = "CreateStep1";
}

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/Home">Home</a></li>
    <li class="breadcrumb-item"><a href="/Vpn/GetAll">VPN</a></li>
    <li class="breadcrumb-item active">Create</li>
</ol>

<h2>Create a new VPN</h2>

<form asp-action="CreateStep2">
    <div class="form-horizontal">
        <hr />
        @{await Html.RenderPartialAsync("_ValidationModelErrorPartial");}
        <div class="form-group">
            <label asp-for="VpnProtocolType" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="VpnProtocolTypeID" class="form-control" asp-items="ViewBag.VpnProtocolTypeID">
                    <option value="">-- Select Protocol Type --</option>
                </select>
                <span asp-validation-for="VpnProtocolTypeID" class="text-danger" />
            </div>
        </div>
        <div id ="IsMulticastVpnContainer" class="form-group">
            <div class="col-md-2">
            </div>
            <div class="col-md-10">
                <label class="checkbox-inline">
                    <input type="checkbox" asp-for="IsMulticastVpn" data-toggle="tooltip" title="Enable the VPN to support Multicast">
                    <label asp-for="IsMulticastVpn"></label>
                    <span asp-validation-for="IsMulticastVpn" class="text-danger"></span>
                </label>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" id="Next" class="btn btn-info" asp-action="CreateStep2">Next
                </button>
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-controller="Vpn" asp-action="GetAll">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    
    <script type="text/javascript">

        (function ($) {

            // Initialise all tool-tips

            $('[data-toggle="tooltip"]').tooltip();

            var $vpnProtocolType = $('#VpnProtocolTypeID'),
                vpnProtocolType = $vpnProtocolType[0],
                $isMulticastVpn = $('#IsMulticastVpn'),
                isMulticastVpn = $isMulticastVpn[0];
                $isMulticastVpnContainer = $('#IsMulticastVpnContainer'),
                isMulticastVpnContainer = $isMulticastVpnContainer[0];

            var protocolType = vpnProtocolType.options[vpnProtocolType.selectedIndex].text;
            if (protocolType != "IP") {
                $isMulticastVpnContainer.hide();
            }

            $vpnProtocolType.on('change', function (e) {

                if (vpnProtocolType.selectedIndex > 0) {

                    var protocolType = vpnProtocolType.options[vpnProtocolType.selectedIndex].text;
                    if (protocolType == "IP") {

                        $isMulticastVpnContainer.fadeIn();
                        return;
                    }
                }

                isMulticastVpn.checked = false;
                $isMulticastVpnContainer.fadeOut();
            });

        }(jQuery));

</script>

}
