@model SCM.Models.ViewModels.AttachmentSetRoutingInstanceViewModel

@{
    ViewData["Title"] = "Edit VRF";
}

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/Home">Home</a></li>
    <li class="breadcrumb-item"><a href="/Tenant/GetAll">Tenants</a></li>
    <li class="breadcrumb-item"><a href="/AttachmentSet/GetAllByTenantID/@ViewBag.AttachmentSet.TenantID">Attachment Sets - [@ViewBag.AttachmentSet.Tenant.Name]</a></li>
    <li class="breadcrumb-item"><a href="/AttachmentSetRoutingInstance/GetAllByAttachmentSetID/@ViewBag.AttachmentSet.AttachmentSetID">Attachment Set VRFs - [@ViewBag.AttachmentSet.Name]</a></li>
    <li class="breadcrumb-item active">Edit - [@Model.RoutingInstance.Name]</li>
</ol>

<h2>Edit Attachment Set VRF '@Model.RoutingInstance.Name'</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <hr />
        @{await Html.RenderPartialAsync("_ValidationModelErrorPartial");}
        <input type="hidden" asp-for="AttachmentSetRoutingInstanceID" />
        <input type="hidden" asp-for="AttachmentSetID" />
        <input type="hidden" asp-for="RoutingInstanceID" />
        <input type="hidden" asp-for="RowVersion" />
        <div class="form-group">
            <label asp-for="AdvertisedIpRoutingPreference" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="AdvertisedIpRoutingPreference" class="form-control" />
                <span asp-validation-for="AdvertisedIpRoutingPreference" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="LocalIpRoutingPreference" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="LocalIpRoutingPreference" class="form-control" />
                <span asp-validation-for="LocalIpRoutingPreference" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="MulticastDesignatedRouterPreference" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="MulticastDesignatedRouterPreference" class="form-control" />
                <span asp-validation-for="MulticastDesignatedRouterPreference" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" id="Edit" class="btn btn-success" asp-action="Edit">
                    <span class="glyphicon glyphicon-save"></span>&nbsp;Save
                </button>
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="GetAllByAttachmentSetID" asp-route-id="@ViewBag.AttachmentSet.AttachmentSetID" asp-route-tenantID="@Context.Request.Query["tenantID"]">Back to VRFs</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
