@model IEnumerable<Mind.WebUI.Models.ProviderDomainRoutingInstanceViewModel>

<option value="">-- Select Routing Instance --</option>

@foreach (var item in Model)
{
    <option data-name="@item.Name" value="@item.Name">@item.DisplayName</option>
}
