@model SCM.Models.ViewModels.BgpPeerViewModel

@{
    ViewData["Title"] = "Edit";
}

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/Home">Home</a></li>
    <li class="breadcrumb-item"><a href="/Tenant/GetAll">Tenants</a></li>
    <li class="breadcrumb-item"><a href="/TenantAttachment/GetAllByTenantID?tenanID=@ViewBag.Vif.TenantID">Tenant Attachments - [@ViewBag.Attachment.Tenant.Name]</a></li>
    <li class="breadcrumb-item"><a href="/Vif/GetAllByAttachmentID/@ViewBag.Vif.AttachmentID">Tenant VIFs - [@ViewBag.Attachment.Name]</a></li>
    <li class="breadcrumb-item"><a href="/VifBgpPeer/GetAllByRoutingInstanceID?RoutingInstanceID=@ViewBag.Vif.RoutingInstanceID&VifID=@ViewBag.Vif.VifID">BGP Peers - [@ViewBag.Vif.Name]</a></li>
    <li class="breadcrumb-item active">Edit - [@Model.Ipv4PeerAddress]</li>
</ol>

<h2>Edit BGP Peer '@Model.Name'</h2>

<form asp-action="Edit">
    <input type="hidden" name="vifID" value="@ViewBag.Vif.VifID" />
    <div class="form-horizontal">
        <hr />
        @{await Html.RenderPartialAsync("_ValidationModelErrorPartial");}
        <input type="hidden" asp-for="RoutingInstanceID" />
        <input type="hidden" asp-for="BgpPeerID" />
        <input type="hidden" asp-for="RowVersion" />
        <div class="form-group">
            <label asp-for="Ipv4PeerAddress" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Ipv4PeerAddress" class="form-control" />
                <span asp-validation-for="Ipv4PeerAddress" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Peer2ByteAutonomousSystem" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Peer2ByteAutonomousSystem" class="form-control" />
                <span asp-validation-for="Peer2ByteAutonomousSystem" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="PeerPassword" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="PeerPassword" class="form-control" />
                <span asp-validation-for="PeerPassword" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="MaximumRoutes" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="MaximumRoutes" class="form-control" />
                <span asp-validation-for="MaximumRoutes" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-2">
            </div>
            <div class="col-md-10">
                <label class="checkbox-inline">
                    <input type="checkbox" asp-for="IsBfdEnabled" data-toggle="tooltip" title="Enable the BGP Peer with BFD fast-failure detection">
                    <label asp-for="IsBfdEnabled"></label>
                </label>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-2">
            </div>
            <div class="col-md-10">
                <label class="checkbox-inline">
                    <input type="checkbox" asp-for="IsMultiHop" data-toggle="tooltip" title="Enable Multi-Hop Peering">
                    <label asp-for="IsMultiHop"></label>
                </label>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" id="Edit" class="btn btn-success" asp-action="Edit">
                    <span class="glyphicon glyphicon-save"></span>&nbsp;Save
                </button>
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="GetAllByRoutingInstanceID" asp-route-RoutingInstanceID ="@Model.RoutingInstanceID" asp-route-VifID="@ViewBag.Vif.VifID">Back to BGP Peers List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">

    (function ($) {

        // Initialise all tool-tips

        $('[data-toggle="tooltip"]').tooltip();

    }(jQuery));

    </script>
}