@model SCM.Models.ViewModels.LocationViewModel

@{
    ViewData["Title"] = "Edit";
}

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/Home">Home</a></li>
    <li class="breadcrumb-item"><a href="/Infrastructure/Index">Infrastructure</a></li>
    <li class="breadcrumb-item"><a href="/Region/GetAll">Regions</a></li>
    <li class="breadcrumb-item"><a href="/SubRegion/GetAllByRegionID/@ViewBag.SubRegion.RegionID">Sub-Regions - [@ViewBag.SubRegion.Region.Name]</a></li>
    <li class="breadcrumb-item"><a href="/Location/GetAllBySubRegionID/@Model.SubRegionID">Locations - [@ViewBag.SubRegion.Name]</a></li>
    <li class="breadcrumb-item active">Edit - [@Model.SiteName]</li>
</ol>

<h2>Edit Location '@Model.SiteName'</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <hr />
        @{await Html.RenderPartialAsync("_ValidationModelErrorPartial");}
        <input type="hidden" asp-for="LocationID" />
        <input type="hidden" asp-for="SubRegionID" />
        <input type="hidden" asp-for="RowVersion" />
        <div class="form-group">
            <label asp-for="SiteName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="SiteName" class="form-control" />
                <span asp-validation-for="SiteName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="AutonomousSystemNumber" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="AutonomousSystemNumber" class="form-control" />
                <span asp-validation-for="AutonomousSystemNumber" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Number" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Number" class="form-control" />
                <span asp-validation-for="Number" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" id="Edit" class="btn btn-success" asp-action="Edit">
                    <span class="glyphicon glyphicon-save"></span>&nbsp;Save
                </button>
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="GetAllBySubRegionID" asp-route-id="@Model.SubRegionID">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
