@model SCM.Models.ViewModels.VpnTenantCommunityOutViewModel

@{
    ViewData["Title"] = "Delete";
}

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/Home">Home</a></li>
    <li class="breadcrumb-item"><a href="/Tenant/GetAll">Tenants</a></li>
    <li class="breadcrumb-item"><a href="/AttachmentSet/GetAllByTenantID/@Model.AttachmentSet.TenantID">Attachment Sets- [@Model.AttachmentSet.Tenant.Name]</a></li>
    <li class="breadcrumb-item"><a href="/VpnTenantCommunityOut/GetAllByAttachmentSetID/@Model.AttachmentSet.AttachmentSetID">Tenant Communities Outbound Policy - [@Model.AttachmentSet.Name]</a></li>
    <li class="breadcrumb-item active">Delete - [@Model.TenantCommunity.Name]</li>
</ol>

<h2>Remove Community '@Model.TenantCommunity.Name' from Outbound Policy</h2>
<h3>Are you sure you want to remove this Community?</h3>
<div>
    <hr />
    @{await Html.RenderPartialAsync("_ValidationModelErrorPartial");}
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenantCommunity)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TenantCommunity.Name)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="VpnTenantCommunityOutID" />
        <input type="hidden" asp-for="AttachmentSetID" />
        <input type="hidden" asp-for="RowVersion" />
        <div class="form-actions no-color">
            <button type="submit" id="Delete" class="btn btn-info btn-danger" asp-action="Delete">
                <span class="glyphicon glyphicon-remove"></span>&nbsp;Remove
            </button> |
            <a asp-action="GetAllByAttachmentSetID" asp-route-id="@Model.AttachmentSetID">Back to List</a>
        </div>
    </form>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
