@model IEnumerable<SCM.Models.ViewModels.TenantCommunityViewModel>

<option value="">-- Select Community --</option>

@foreach (var item in Model)
{
    <option value="@item.TenantCommunityID">@item.Name</option>
}
