@model SCM.Models.ViewModels.VpnTenantIpNetworkCommunityInViewModel

@{
    ViewData["Title"] = "Create";
}

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/Home">Home</a></li>
    <li class="breadcrumb-item"><a href="/Tenant/GetAll">Tenants</a></li>
    <li class="breadcrumb-item"><a href="/AttachmentSet/GetAllByTenantID/@ViewBag.VpnTenantIpNetworkIn.AttachmentSet.TenantID">Attachment Sets- [@ViewBag.VpnTenantIpNetworkIn.AttachmentSet.Tenant.Name]</a></li>
    <li class="breadcrumb-item"><a href="/VpnTenantIpNetworkIn/GetAllByAttachmentSetID/@ViewBag.VpnTenantIpNetworkIn.AttachmentSetID">Tenant Network Inbound Policy - [@ViewBag.VpnTenantIpNetworkIn.AttachmentSet.Name]</a></li>
    <li class="breadcrumb-item"><a href="/VpnTenantNetworkCommunityIn/GetAllByVpnTenantNetworkID/@ViewBag.VpnTenantNetworkIn.VpnTenantIpNetworkInID">VPN Tenant IP Network Communities - [@ViewBag.VpnTenantIpNetworkIn.TenantIpNetwork.CidrName]</a></li>
    <li class="breadcrumb-item active">Add Community</li>
</ol>

<h2>Add a Tenant Community to '@ViewBag.VpnTenantIpNetworkIn.TenantIpNetwork.CidrName'</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <hr />
        @{await Html.RenderPartialAsync("_ValidationModelErrorPartial");}
        <input type="hidden" asp-for="VpnTenantIpNetworkInID" value="@ViewBag.VpnTenantIpNetworkIn.VpnTenantIpNetworkInID" />
        <div class="form-group">
            <label asp-for="TenantCommunity" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="TenantCommunityID" class="form-control" asp-items="ViewBag.TenantCommunityID">
                    <option value="">-- Select Tenant Community --</option>
                </select>
                <span asp-validation-for="TenantCommunityID" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" id="Add" class="btn btn-success" asp-action="Create">
                    <span class="glyphicon glyphicon-plus"></span>&nbsp;Add
                </button>
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="GetAllByVpnTenantIpNetworkInID" asp-route-id="@ViewBag.VpnTenantIpNetworkIn.VpnTenantIpNetworkInID" >Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">

        (function ($) {

            // Initialise all tool-tips

            $('[data-toggle="tooltip"]').tooltip();

        }(jQuery));

    </script>
}
