@model SCM.Models.ViewModels.VpnTenantMulticastGroupViewModel

@{
    ViewData["Title"] = "Add Multicast Group";
}


<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/Home">Home</a></li>
    <li class="breadcrumb-item"><a href="/Tenant/GetAll">Tenants</a></li>
    <li class="breadcrumb-item"><a href="/AttachmentSet/GetAllByTenantID/@Model.AttachmentSet.TenantID">Attachment Sets- [@Model.AttachmentSet.Tenant.Name]</a></li>
    <li class="breadcrumb-item"><a href="/VpnTenantMulticastGroup/GetAllByAttachmentSetID/@Model.AttachmentSet.AttachmentSetID">Multicast Groups - [@Model.AttachmentSet.Name]</a></li>
    <li class="breadcrumb-item active">Edit - [@Model.TenantMulticastGroup.Name]</li>
</ol>

<h2>Edit Multicast Group Range '@Model.TenantMulticastGroup.Name'</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <hr />
        @{await Html.RenderPartialAsync("_ValidationModelErrorPartial");}
        <input type="hidden" asp-for="VpnTenantMulticastGroupID" />
        <input type="hidden" asp-for="AttachmentSetID" />
        <input type="hidden" asp-for="TenantMulticastGroupID" />
        <input type="hidden" asp-for="RowVersion" />
        <div id="MulticastVpnRpSelection" class="form-group" hidden>
            <label asp-for="MulticastVpnRp" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="MulticastVpnRpID" class="form-control" asp-items="ViewBag.MulticastVpnRpID">
                    <option value="">-- Select VPN Rendezvous-Point --</option>
                </select>
                <span asp-validation-for="MulticastVpnRpID" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="MulticastGeographicalScope" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="MulticastGeographicalScopeID" class="form-control" asp-items="ViewBag.MulticastGeographicalScopeID">
                    <option value="">-- Optionally Select Geographical Scope --</option>
                </select>
                <span asp-validation-for="MulticastGeographicalScopeID" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" id="Edit" class="btn btn-success" asp-action="Edit">
                    <span class="glyphicon glyphicon-save"></span>&nbsp;Save
                </button>
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="GetAllByAttachmentSetID" asp-route-id="@Model.AttachmentSetID">Back to List</a>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}