@model SCM.Models.ViewModels.TenantDeviceRequestViewModel

@{
    ViewData["Title"] = "Create Device";
}

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/Home">Home</a></li>
    <li class="breadcrumb-item"><a href="/Tenant/GetAll">Tenants</a></li>
    <li class="breadcrumb-item"><a href="/TenantDevice/GetAllByTenantID?tenantID=@ViewBag.Tenant.TenantID">Devices - [@ViewBag.Tenant.Name]</a></li>
    <li class="breadcrumb-item active">Create</li>
</ol>

<h2>Create Device</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <hr />
        @{await Html.RenderPartialAsync("_ValidationModelErrorPartial");}
        <input type="hidden" asp-for="TenantID" value="@ViewBag.Tenant.TenantID" />
        <div class="form-group">
            <label asp-for="DeviceRole" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="DeviceRoleID" class="form-control" asp-items="ViewBag.DeviceRoleID">
                    <option value="">-- Select Device Role --</option>
                </select>
                <span asp-validation-for="DeviceRoleID" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="DeviceModel" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="DeviceModelID" class="form-control" asp-items="ViewBag.DeviceModelID">
                    <option value="">-- Select Device Model --</option>
                </select>
                <span asp-validation-for="DeviceModelID" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="DeviceStatus" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="DeviceStatusID" class="form-control" asp-items="ViewBag.DeviceStatusID">
                    <option value="">-- Select Device Status --</option>
                </select>
                <span asp-validation-for="DeviceStatusID" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Name" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Description" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-2">
            </div>
            <div class="col-md-10">
                <label class="checkbox-inline">
                    <input type="checkbox" asp-for="UseLayer2InterfaceMtu" data-toggle="tooltip"
                           title="Enable interface MTU for this device to include layer 2 overhead">
                    <label asp-for="UseLayer2InterfaceMtu"></label>
                </label>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" id="Create" class="btn btn-success" asp-action="Create">
                    <span class="glyphicon glyphicon-plus"></span>&nbsp;Create
                </button>
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="GetAllByTenantID" asp-route-tenantID ="@ViewBag.Tenant.TenantID">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">

    (function ($) {

        // Initialise all tool-tips

        $('[data-toggle="tooltip"]').tooltip();

    }(jQuery));

    </script>
}