@model SCM.Models.ViewModels.DeviceUpdateViewModel

@{
    ViewData["Title"] = "Edit Device";
}

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/Home">Home</a></li>
    <li class="breadcrumb-item"><a href="/Infrastructure/Index">Infrastructure</a></li>
    <li class="breadcrumb-item"><a href="/InfrastructureDevice/GetAll">Devices</a></li>
    <li class="breadcrumb-item active">Edit - [@Model.Name]</li>
</ol>


<h2>Edit Device '@Model.Name'</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <hr />
        @{await Html.RenderPartialAsync("_ValidationModelErrorPartial");}
        <input type="hidden" asp-for="DeviceID" />
        <input type="hidden" asp-for="Name" />
        <input type="hidden" asp-for="RowVersion" />
        <div class="form-group">
            <label asp-for="DeviceRole" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="DeviceRoleID" class="form-control" asp-items="ViewBag.DeviceRoleID">
                    <option value="">-- Select Device Role --</option>
                </select>
                <span asp-validation-for="DeviceRoleID" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="DeviceModel" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="DeviceModelID" class="form-control" asp-items="ViewBag.DeviceModelID">
                    <option value="">-- Select Device Model --</option>
                </select>
                <span asp-validation-for="DeviceModelID" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="DeviceStatus" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="DeviceStatusID" class="form-control" asp-items="ViewBag.DeviceStatusID">
                    <option value="">-- Select Device Status --</option>
                </select>
                <span asp-validation-for="DeviceStatusID" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Description" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-2">
            </div>
            <div class="col-md-10">
                <label class="checkbox-inline">
                    <input type="checkbox" asp-for="UseLayer2InterfaceMtu" data-toggle="tooltip"
                           title="Enable interface MTU for this device to include layer 2 overhead">
                    <label asp-for="UseLayer2InterfaceMtu"></label>
                </label>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" id="Edit" class="btn btn-success" asp-action="Edit">
                    <span class="glyphicon glyphicon-save"></span>&nbsp;Save
                </button>
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="GetAll">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">

    (function ($) {

        // Initialise all tool-tips

        $('[data-toggle="tooltip"]').tooltip();

    }(jQuery));

    </script>
}
