@model Mind.WebUI.Models.ContractBandwidthPoolViewModel

@if (Model != null)
{
    <div class="alert alert-info" role="alert">
        Select a contract bandwidth. The bandwidth options are expressed in megabits per second.
        The contract bandwith is the average amount of bandwidth available in either
        direction across the attachment. The contract bandwidth value must be equal to or less than the physical
        attachment bandwidth.
    </div>

    <div class="form-group row">
        <label asp-for="ContractBandwidthMbps" class="col-sm-4 col-form-label"></label>
        <div class="col-sm-8">
            <select asp-for="ContractBandwidthMbps" class="form-control" asp-items="ViewBag.ContractBandwidth">
                <option value="">Select Contract Bandwidth</option>
            </select>
            <span asp-validation-for="ContractBandwidthMbps" class="text-danger"></span>
        </div>
    </div>
    <div class="alert alert-info" role="alert">
        You can optionally enable Sigma to trust the DSCP and CoS markings sent from the tenant domain towards Sigma.
        If trust is enabled then the DSCP and CoS markings received will be carried transparently across Sigma without
        modification.
    </div>
    <div class="form-group row">
        <label class="col-form-label col-sm-4" asp-for="TrustReceivedCosAndDscp"></label>
        <div class="col-sm-8">
            <div class="custom-control custom-checkbox">
                <input class="form-check-input custom-control-input" type="checkbox" asp-for="TrustReceivedCosAndDscp" data-toggle="tooltip"
                       data-placement="right" title="Trust the CoS and DSCP markings in packets received on this vif">
                <label class="form-check-label custom-control-label" for="TrustReceivedCosAndDscp"></label>
            </div>
        </div>
    </div>
}
else
{
    <div class="alert alert-info" role="alert">
        The selected vif role does not require contract bandwidth details to be specified. Please go to the next step.
    </div>
}


