@model SCM.Models.ViewModels.TenantCommunitySetCommunityViewModel

@{
    ViewData["Title"] = "Create";
}

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/Home">Home</a></li>
    <li class="breadcrumb-item"><a href="/Tenant/GetAll">Tenants</a></li>
    <li class="breadcrumb-item"><a href="/TenantCommunitySet/GetAllByTenantID/@ViewBag.TenantCommunitySet.TenantID">Community Sets - [@ViewBag.TenantCommunitySet.Tenant.Name]</a></li>
    <li class="breadcrumb-item"><a href="/TenantCommunitySetCommunity/GetAllByTenantCommunitySetID/@ViewBag.TenantCommunitySet.TenantCommunitySetID">Communities - [@ViewBag.TenantCommunitySet.Name]</a></li>
    <li class="breadcrumb-item active">Create</li>
</ol>

<h2>Add Community to Community Set '@ViewBag.TenantCommunitySet.Name'</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <hr />
        @{await Html.RenderPartialAsync("_ValidationModelErrorPartial");}
        <input type="hidden" asp-for="TenantCommunitySetID" value="@ViewBag.TenantCommunitySet.TenantCommunitySetID" />
        <div class="form-group">
            <label asp-for="TenantCommunity" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="TenantCommunityID" class="form-control" asp-items="ViewBag.TenantCommunityID">
                    <option value="">-- Select Community --</option>
                </select>
                <span asp-validation-for="TenantCommunityID" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" id="Create" class="btn btn-success" asp-action="Create">
                    <span class="glyphicon glyphicon-plus"></span>&nbsp;Create
                </button>
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="GetAllByTenantCommunitySetID" asp-route-id="@ViewBag.TenantCommunitySet.TenantCommunitySetID">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">

        (function ($) {

            // Initialise all tool-tips

            $('[data-toggle="tooltip"]').tooltip();

        }(jQuery));

    </script>
}
