@model SCM.Models.ViewModels.AttachmentViewModel

@{
    ViewData["Title"] = "Attachment Deleted";
}

<h2>Attachment Deleted</h2>

@if (@ViewData["AttachmentDeletedMessage"] != null)
{
    <div class="alert alert-danger">@ViewData["AttachmentDeletedMessage"]</div>
}

<a asp-action="GetAllByTenantID" asp-controller="TenantAttachment" asp-route-tenantID="@Model.TenantID">Back to List</a>