@model SCM.Models.ViewModels.LogicalInterfaceViewModel

@{
    ViewData["Title"] = "Create Logical Interface";
}

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/Home">Home</a></li>
    <li class="breadcrumb-item"><a href="/Tenant/GetAll">Tenants</a></li>
    <li class="breadcrumb-item"><a href="/TenantAttachment/GetAllByTenantID?tenantID=@ViewBag.Attachment.TenantID">Tenant Attachments - [@ViewBag.Attachment.Tenant.Name]</a></li>
    <li class="breadcrumb-item"><a href="/TenantAttachment/GetAllLogicalInterfacesByAttachmentID?attachmentID=@ViewBag.Attachment.AttachmentID">Logical Interfaces - [@ViewBag.Attachment.Name]</a></li>
    <li class="breadcrumb-item active">Create</li>
</ol>

<h2>Create Logical Interface for VRF '@ViewBag.Attachment.RoutingInstance.Name'</h2>

<form asp-action="CreateLogicalInterface">
    <div class="form-horizontal">
        <hr />
        @{await Html.RenderPartialAsync("_ValidationModelErrorPartial");}
        <input type="hidden" asp-for="RoutingInstanceID" value="@ViewBag.Attachment.RoutingInstance.RoutingInstanceID" />
        <input type="hidden" name="AttachmentID" value="@ViewBag.Attachment.AttachmentID" />
        <div class="form-group">
            <label asp-for="LogicalInterfaceType" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="LogicalInterfaceType" class="form-control" asp-items="ViewBag.LogicalInterfaceType">
                    <option value="">-- Select a Logical Interface Type --</option>
                </select>
                <span asp-validation-for="LogicalInterfaceType" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="IpAddress" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="IpAddress" class="form-control" data-toggle="tooltip" data-placement="right"
                       title="Enter an IP address for the Logical Interface" />
                <span asp-validation-for="IpAddress" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="SubnetMask" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="SubnetMask" class="form-control" data-toggle="tooltip" data-placement="right"
                       title="Enter a subnet mask for the Logical Interface" />
                <span asp-validation-for="SubnetMask" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Description" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Description" class="form-control" data-toggle="tooltip" data-placement="right"
                       title="Enter a description for the Logical Interface" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" id="Create" class="btn btn-success" asp-action="CreateLogicalInterface">
                    <span class="glyphicon glyphicon-plus"></span>&nbsp;Create
                </button>
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="GetAllLogicalInterfacesByAttachmentID" asp-route-attachmentID="@ViewBag.Attachment.AttachmentID">Back to Logical Interfaces List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">

        (function ($) {

            // Initialise all tool-tips

            $('[data-toggle="tooltip"]').tooltip();

        }(jQuery));

    </script>
}
