@model SCM.Models.ViewModels.AttachmentUpdateViewModel

@{
    ViewData["Title"] = "Edit Attachment";
}

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/Home">Home</a></li>
    <li class="breadcrumb-item"><a href="/Tenant/GetAll">Tenants</a></li>
    <li class="breadcrumb-item"><a href="/TenantAttachment/GetAllByTenantID?tenantID=@ViewBag.Tenant.TenantID">Tenant Attachments - [@ViewBag.Tenant.Name]</a></li>
    <li class="breadcrumb-item active">Edit - [@Model.Name]</li>
</ol>

<h2>Edit Attachment '@Model.Name'</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <hr />
        @{await Html.RenderPartialAsync("_ValidationModelErrorPartial");}
        <input type="hidden" asp-for="AttachmentID" />
        <input type="hidden" asp-for="TenantID" />
        <input type="hidden" asp-for="LocationID" />
        <input type="hidden" asp-for="IsTagged" />
        <input type="hidden" asp-for="RowVersion" />
        <div class="form-group">
            <label asp-for="Mtu" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="MtuID" class="form-control" asp-items="ViewBag.MtuID"
                        data-toggle="tooltip" data-placement="right" title="Select a Maximum Transmission Unit (MTU) option">
                    <option value="">-- Select MTU --</option>
                </select>
                <span asp-validation-for="MtuID" class="text-danger"></span>
            </div>
        </div>
        @if (Model.IsBundle)
    {
        <div class="form-group">
            <label asp-for="BundleMinLinks" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="BundleMinLinks" class="form-control" data-toggle="tooltip" data-placement="right"
                       title="Specify the minimum number of active links in the bundle" />
                <span asp-validation-for="BundleMinLinks" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="BundleMaxLinks" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="BundleMaxLinks" class="form-control" data-toggle="tooltip" data-placement="right"
                       title="Specify the maximum number of active links in the bundle" />
                <span asp-validation-for="BundleMaxLinks" class="text-danger"></span>
            </div>
        </div>
}
        <div class="form-group">
            <label asp-for="ContractBandwidth" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="ContractBandwidthID" class="form-control" asp-items="ViewBag.ContractBandwidthID">
                    <option value="">Select Contract Bandwidth</option>
                </select>
                <span asp-validation-for="ContractBandwidthID" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-2">
            </div>
            <div class="col-md-10">
                <label class="checkbox-inline">
                    <input type="checkbox" asp-for="TrustReceivedCosDscp" data-toggle="tooltip"
                           title="Trust the COS and DSCP markings received in packets on this Attachment"> <label asp-for="TrustReceivedCosDscp"></label>
                </label>
                <span asp-validation-for="TrustReceivedCosDscp" class="text-danger"></span>
            </div>
        </div>
        @if (Model.RoutingInstance != null)
        {
            if (Model.RoutingInstance.RoutingInstanceType.IsVrf)
            {
            <div class="form-group">
                <label asp-for="RoutingInstance" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <select asp-for="RoutingInstanceID" class="form-control" asp-items="ViewBag.RoutingInstanceID"
                            data-toggle="tooltip" data-placement="right" title="Select an existing VRF">
                        <option value="">-- Select Existing VRF --</option>
                    </select>
                    <span asp-validation-for="RoutingInstanceID" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-2">
                </div>
                <div class="col-md-10">
                    <label class="checkbox-inline">
                        <input type="checkbox" asp-for="CreateNewRoutingInstance" data-toggle="tooltip" title="Create a new VRF"> <label asp-for="CreateNewRoutingInstance"></label>
                    </label>
                </div>
            </div>
            }
            else
            {
            <input type="hidden" asp-for="RoutingInstanceID" />
            }
        }
        <div class="form-group">
            <label asp-for="Description" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Notes" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <textarea asp-for="Notes" class="form-control" rows="5"></textarea>
                <span asp-validation-for="Notes" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" id="Edit" class="btn btn-success" asp-action="Edit">
                    <span class="glyphicon glyphicon-save"></span>&nbsp;Save
                </button>
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="GetAllByTenantID" asp-route-tenantID="@ViewBag.Tenant.TenantID">Back to Attachments List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

<script type="text/javascript">

        (function ($) {

            var $attachment = $('#AttachmentID'),
                attachment = $attachment[0],
                $isTagged = $('#IsTagged'),
                isTagged = $isTagged[0],
                $contractBandwidth = $('#ContractBandwidthID'),
                contractBandwidth = $contractBandwidth[0],
                $trustReceivedCosDscp = $('#TrustReceivedCosDscp'),
                trustReceivedCosDscp = $trustReceivedCosDscp[0],
                $vrf = $('#RoutingInstanceID'),
                vrf = $vrf[0],
                $createNewRoutingInstance = $('#CreateNewRoutingInstance');

            // Initialise all tool-tips

            $('[data-toggle="tooltip"]').tooltip();

            if (isTagged.value == 'True') {

                contractBandwidth.disabled = true;
                trustReceivedCosDscp.disabled = true;
            }

            if ($createNewRoutingInstance.length) {

                if ($createNewRoutingInstance[0].checked) {

                    vrf.selectedIndex = 0;
                    vrf.disabled = true;
                }

                $createNewRoutingInstance.on('click', function () {

                    if (this.checked) {

                        vrf.selectedIndex = 0;
                        vrf.disabled = true;
                    }
                    else {

                        vrf.disabled = false;
                    }
                });
            }

        }(jQuery));

</script>

}