@model SCM.Models.ViewModels.InterfaceViewModel

@{
    ViewData["Title"] = "Edit Interface";
}

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/Home">Home</a></li>
    <li class="breadcrumb-item"><a href="/Tenant/GetAll">Tenants</a></li>
    <li class="breadcrumb-item"><a href="/TenantAttachment/GetAllByTenantID?tenantID=@ViewBag.Attachment.TenantID">Tenant Attachments - [@ViewBag.Attachment.Tenant.Name]</a></li>
    <li class="breadcrumb-item"><a href="/TenantAttachment/GetAllInterfacesByAttachmentID/@ViewBag.Attachment.AttachmentID">Interfaces - [@ViewBag.Attachment.Name]</a></li>
    <li class="breadcrumb-item active">Edit Interface - [@Model.Name]</li>
</ol>

<h2>Edit Interface '@Model.Name'</h2>

<form asp-action="EditInterface">
    <div class="form-horizontal">
        <hr />
        @{await Html.RenderPartialAsync("_ValidationModelErrorPartial");}
        <input type="hidden" asp-for="AttachmentID" />
        <input type="hidden" asp-for="DeviceID" />
        <input type="hidden" asp-for="InterfaceID" />
        <input type="hidden" asp-for="RowVersion" />
        <div class="form-group">
            <label asp-for="IpAddress" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="IpAddress" class="form-control" />
                <span asp-validation-for="IpAddress" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="SubnetMask" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="SubnetMask" class="form-control" />
                <span asp-validation-for="SubnetMask" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" id="Edit" class="btn btn-success" asp-action="EditInterface">
                    <span class="glyphicon glyphicon-save"></span>&nbsp;Save
                </button>
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="GetAllInterfacesByAttachmentID" asp-route-id="@ViewBag.Attachment.AttachmentID">Back to Interfaces List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

<script type="text/javascript">

        (function ($) {
  
            // Initialise all tool-tips

            $('[data-toggle="tooltip"]').tooltip();

          
        }(jQuery));

</script>

}