@model SCM.Models.ViewModels.ExtranetVpnMemberViewModel

@{
    ViewData["Title"] = "Add Member VPN";
}

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/Home">Home</a></li>
    <li class="breadcrumb-item"><a href="/Vpn/GetAll">VPNs</a></li>
    <li class="breadcrumb-item"><a href="/ExtranetVpnMember/GetAllByMemberVpnID/@ViewBag.MemberVpn.VpnID">Extranet VPN Memberships - [@ViewBag.MemberVpn.Name]</a></li>
    <li class="breadcrumb-item active">Add</li>
</ol>

<h2>Add VPN '@ViewBag.MemberVpn.Name' to an Extranet VPN</h2>

<form id="Create" asp-action="CreateByMemberVpn">
    <div class="form-horizontal">
        <hr />
        @{await Html.RenderPartialAsync("_ValidationModelErrorPartial");}
        <input type="hidden" asp-for="MemberVpnID" value="@ViewBag.MemberVpn.VpnID" />

        <div class="form-group">
            <label asp-for="Tenant" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="TenantID" class="form-control" asp-items="ViewBag.TenantID">
                    <option value="">-- Select a Tenant Owner --</option>
                </select>
                <span asp-validation-for="TenantID" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ExtranetVpn" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="ExtranetVpnID" class="form-control" asp-items="ViewBag.ExtranetVpnID">
                    <option value="">-- Select a VPN --</option>
                </select>
                <span asp-validation-for="ExtranetVpnID" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" id="Add" class="btn btn-success" asp-action="CreateByMemberVpn">
                    <span class="glyphicon glyphicon-plus"></span>&nbsp;Add
                </button>
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="GetAllByMemberVpnID" asp-route-id="@ViewBag.MemberVpn.VpnID">Back to Extranet VPN Memberships</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">

        (function ($) {

            // Initialise all tool-tips

            $('[data-toggle="tooltip"]').tooltip();

            var $tenant = $('#TenantID'),
                tenant = $tenant[0],
                $extranetVpn = $('#ExtranetVpnID'),
                extranetVpn = $extranetVpn[0];

            if (extranetVpn.value == null || extranetVpn.value == "") {

                extranetVpn.disabled = true;
            }

            $tenant.on('change', function (e) {

                extranetVpn.selectedIndex = 0;
                extranetVpn.disabled = true;
                PopulateExtranetVpnsDropDownList(this.value);
            });

            function PopulateExtranetVpnsDropDownList(tenantID) {

                if (tenantID != null && tenantID.length > 0) {

                    PopulateHtmlFromUrl($extranetVpn, "/ExtranetVpnMember/ExtranetVpns", { tenantID: tenantID });
                }
            }

            function PopulateHtmlFromUrl($e, url, data) {

                $.get(url, data)
                    .done(function (data) {

                        // Enable the html element to be populated
                        $e[0].disabled = false;

                        $e.html(data);
                    });
            }

        }(jQuery));

    </script>
}

