/*
 * MIND API
 *
 * This is the Master Inventory Network Database (MIND) API. MIND provides automated allocation of technical attributes needed to create IP and Ethernet VPNs on the global Sigma network. MIND supports the 'Nova' services specfication which defines the collection of connectivity services supported by ENT. Go to https://thehub.thomsonreuters.com/docs/DOC-2193014 to learn more.
 *
 * OpenAPI spec version: 1.0.0
 * Contact: jonathan.beasley@thomsonreuters.com
 * Generated by: https://github.com/swagger-api/swagger-codegen.git
 */

using System;
using System.Collections.Generic;
using System.Linq;
using System.Net;
using System.Threading.Tasks;
using Microsoft.AspNetCore.Http;
using Microsoft.AspNetCore.Mvc;
using Microsoft.AspNetCore.WebUtilities;
using Microsoft.Extensions.Logging;
using Microsoft.Extensions.Primitives;
using Swashbuckle.AspNetCore.SwaggerGen;
using Newtonsoft.Json;
using System.ComponentModel.DataAnnotations;
using Mind.Api.Attributes;
using Mind.Api.Models;

namespace Mind.Api.Controllers
{ 
    /// <summary>
    /// 
    /// </summary>
    public class TenantRoutingInstanceApiController : Controller
    { 
        /// <summary>
        /// Add a bgp peer to a given routing instance
        /// </summary>
        
        /// <param name="routingInstanceId">ID of the routing instance</param>
        /// <param name="body">request object that creates a new BGP peer entry</param>
        /// <response code="200">Successful operation</response>
        /// <response code="400">Validation error</response>
        /// <response code="404">The specified resource was not found</response>
        [HttpPost]
        [Route("/v1/tenant/routing-instance/{routingInstanceId}/bgp-peer")]
        [ValidateModelState]
        [SwaggerOperation("AddRoutingInstanceBgpPeer")]
        [SwaggerResponse(statusCode: 200, type: typeof(BgpPeer), description: "Successful operation")]
        [SwaggerResponse(statusCode: 400, type: typeof(ApiResponse), description: "Validation error")]
        [SwaggerResponse(statusCode: 404, type: typeof(ApiResponse), description: "The specified resource was not found")]
        public virtual IActionResult AddRoutingInstanceBgpPeer([FromRoute][Required]int? routingInstanceId, [FromBody]BgpPeer body)
        { 
            //TODO: Uncomment the next line to return response 200 or use other options such as return this.NotFound(), return this.BadRequest(..), ...
            // return StatusCode(200, default(BgpPeer));

            //TODO: Uncomment the next line to return response 400 or use other options such as return this.NotFound(), return this.BadRequest(..), ...
            // return StatusCode(400, default(ApiResponse));

            //TODO: Uncomment the next line to return response 404 or use other options such as return this.NotFound(), return this.BadRequest(..), ...
            // return StatusCode(404, default(ApiResponse));

            string exampleJson = null;
            exampleJson = "<BgpPeer>\n  <peerIpv4Address>aeiou</peerIpv4Address>\n  <Peer2ByteAutonomousSystem>123</Peer2ByteAutonomousSystem>\n  <PeerPassword>aeiou</PeerPassword>\n  <IsMultiHop>true</IsMultiHop>\n  <IsBfdEnabled>true</IsBfdEnabled>\n</BgpPeer>";
            exampleJson = "{\n  \"peerIpv4Address\" : \"peerIpv4Address\",\n  \"PeerPassword\" : \"PeerPassword\",\n  \"IsMultiHop\" : false,\n  \"Peer2ByteAutonomousSystem\" : 5249,\n  \"IsBfdEnabled\" : true\n}";
            
            var example = exampleJson != null
            ? JsonConvert.DeserializeObject<BgpPeer>(exampleJson)
            : default(BgpPeer);
            //TODO: Change the data returned
            return new ObjectResult(example);
        }

        /// <summary>
        /// Delete a BGP peer from a given routing instance
        /// </summary>
        
        /// <param name="routingInstanceId">ID of the routing instance</param>
        /// <param name="apiKey"></param>
        /// <response code="204">Successful operation</response>
        /// <response code="404">The specified resource was not found</response>
        [HttpDelete]
        [Route("/v1/tenant/routing-instance/{routingInstanceId}/bgp-peer")]
        [ValidateModelState]
        [SwaggerOperation("DeleteRoutingInstanceBgpPeer")]
        [SwaggerResponse(statusCode: 204, type: typeof(ApiResponse), description: "Successful operation")]
        [SwaggerResponse(statusCode: 404, type: typeof(ApiResponse), description: "The specified resource was not found")]
        public virtual IActionResult DeleteRoutingInstanceBgpPeer([FromRoute][Required]int? routingInstanceId, [FromHeader]string apiKey)
        { 
            //TODO: Uncomment the next line to return response 204 or use other options such as return this.NotFound(), return this.BadRequest(..), ...
            // return StatusCode(204, default(ApiResponse));

            //TODO: Uncomment the next line to return response 404 or use other options such as return this.NotFound(), return this.BadRequest(..), ...
            // return StatusCode(404, default(ApiResponse));

            string exampleJson = null;
            exampleJson = "<null>\n  <code>123</code>\n  <type>aeiou</type>\n  <message>aeiou</message>\n</null>";
            exampleJson = "{\n  \"code\" : 0,\n  \"type\" : \"type\",\n  \"message\" : \"message\"\n}";
            
            var example = exampleJson != null
            ? JsonConvert.DeserializeObject<ApiResponse>(exampleJson)
            : default(ApiResponse);
            //TODO: Change the data returned
            return new ObjectResult(example);
        }

        /// <summary>
        /// Find all BGP peers for a given routing instance
        /// </summary>
        /// <remarks>Returns all BGP peers for a given routing instance</remarks>
        /// <param name="routingInstanceId">ID of the routing instance</param>
        /// <response code="200">successful operation</response>
        /// <response code="404">The specified resource was not found</response>
        [HttpGet]
        [Route("/v1/tenant/routing-instance/{routingInstanceId}/bgp-peer")]
        [ValidateModelState]
        [SwaggerOperation("GetAllBgpPeersByRoutingInstance")]
        [SwaggerResponse(statusCode: 200, type: typeof(List<BgpPeer>), description: "successful operation")]
        [SwaggerResponse(statusCode: 404, type: typeof(ApiResponse), description: "The specified resource was not found")]
        public virtual IActionResult GetAllBgpPeersByRoutingInstance([FromRoute][Required]int? routingInstanceId)
        { 
            //TODO: Uncomment the next line to return response 200 or use other options such as return this.NotFound(), return this.BadRequest(..), ...
            // return StatusCode(200, default(List<BgpPeer>));

            //TODO: Uncomment the next line to return response 404 or use other options such as return this.NotFound(), return this.BadRequest(..), ...
            // return StatusCode(404, default(ApiResponse));

            string exampleJson = null;
            exampleJson = "<BgpPeer>\n  <peerIpv4Address>aeiou</peerIpv4Address>\n  <Peer2ByteAutonomousSystem>123</Peer2ByteAutonomousSystem>\n  <PeerPassword>aeiou</PeerPassword>\n  <IsMultiHop>true</IsMultiHop>\n  <IsBfdEnabled>true</IsBfdEnabled>\n</BgpPeer>";
            exampleJson = "[ {\n  \"peerIpv4Address\" : \"peerIpv4Address\",\n  \"PeerPassword\" : \"PeerPassword\",\n  \"IsMultiHop\" : false,\n  \"Peer2ByteAutonomousSystem\" : 5249,\n  \"IsBfdEnabled\" : true\n}, {\n  \"peerIpv4Address\" : \"peerIpv4Address\",\n  \"PeerPassword\" : \"PeerPassword\",\n  \"IsMultiHop\" : false,\n  \"Peer2ByteAutonomousSystem\" : 5249,\n  \"IsBfdEnabled\" : true\n} ]";
            
            var example = exampleJson != null
            ? JsonConvert.DeserializeObject<List<BgpPeer>>(exampleJson)
            : default(List<BgpPeer>);
            //TODO: Change the data returned
            return new ObjectResult(example);
        }

        /// <summary>
        /// Find all routing instances for a given tenant
        /// </summary>
        /// <remarks>Returns all routing instances for a given tenant</remarks>
        /// <param name="tenantId">ID of the tenant</param>
        /// <response code="200">successful operation</response>
        /// <response code="404">The specified resource was not found</response>
        [HttpGet]
        [Route("/v1/tenant/{tenantId}/routing-instance")]
        [ValidateModelState]
        [SwaggerOperation("GetAllRoutingInstancesByTenant")]
        [SwaggerResponse(statusCode: 200, type: typeof(List<RoutingInstance>), description: "successful operation")]
        [SwaggerResponse(statusCode: 404, type: typeof(ApiResponse), description: "The specified resource was not found")]
        public virtual IActionResult GetAllRoutingInstancesByTenant([FromRoute][Required]int? tenantId)
        { 
            //TODO: Uncomment the next line to return response 200 or use other options such as return this.NotFound(), return this.BadRequest(..), ...
            // return StatusCode(200, default(List<RoutingInstance>));

            //TODO: Uncomment the next line to return response 404 or use other options such as return this.NotFound(), return this.BadRequest(..), ...
            // return StatusCode(404, default(ApiResponse));

            string exampleJson = null;
            exampleJson = "<RoutingInstance>\n  <routingInstanceId>123</routingInstanceId>\n  <name>aeiou</name>\n</RoutingInstance>";
            exampleJson = "[ {\n  \"routingInstanceId\" : 0,\n  \"name\" : \"name\"\n}, {\n  \"routingInstanceId\" : 0,\n  \"name\" : \"name\"\n} ]";
            
            var example = exampleJson != null
            ? JsonConvert.DeserializeObject<List<RoutingInstance>>(exampleJson)
            : default(List<RoutingInstance>);
            //TODO: Change the data returned
            return new ObjectResult(example);
        }

        /// <summary>
        /// Find a single routing instance
        /// </summary>
        /// <remarks>Returns a single routing instance</remarks>
        /// <param name="routingInstanceId">ID of the routing instance</param>
        /// <response code="200">Successful operation</response>
        /// <response code="404">The specified resource was not found</response>
        [HttpGet]
        [Route("/v1/tenant/routing-instance/{routingInstanceId}")]
        [ValidateModelState]
        [SwaggerOperation("GetRoutingInstanceById")]
        [SwaggerResponse(statusCode: 200, type: typeof(RoutingInstance), description: "Successful operation")]
        [SwaggerResponse(statusCode: 404, type: typeof(ApiResponse), description: "The specified resource was not found")]
        public virtual IActionResult GetRoutingInstanceById([FromRoute][Required]int? routingInstanceId)
        { 
            //TODO: Uncomment the next line to return response 200 or use other options such as return this.NotFound(), return this.BadRequest(..), ...
            // return StatusCode(200, default(RoutingInstance));

            //TODO: Uncomment the next line to return response 404 or use other options such as return this.NotFound(), return this.BadRequest(..), ...
            // return StatusCode(404, default(ApiResponse));

            string exampleJson = null;
            exampleJson = "<RoutingInstance>\n  <routingInstanceId>123</routingInstanceId>\n  <name>aeiou</name>\n</RoutingInstance>";
            exampleJson = "{\n  \"routingInstanceId\" : 0,\n  \"name\" : \"name\"\n}";
            
            var example = exampleJson != null
            ? JsonConvert.DeserializeObject<RoutingInstance>(exampleJson)
            : default(RoutingInstance);
            //TODO: Change the data returned
            return new ObjectResult(example);
        }
    }
}
