@model SCM.Models.ViewModels.AttachmentSetViewModel

@{
    ViewData["Title"] = "Edit Attachment Set";
}

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/Home">Home</a></li>
    <li class="breadcrumb-item"><a href="/Tenant/GetAll">Tenants</a></li>
    <li class="breadcrumb-item"><a href="/AttachmentSet/GetAllByTenantID/@Model.TenantID">Attachment Sets - [@Model.Tenant.Name]</a></li>
    <li class="breadcrumb-item active">Edit - [@Model.Name]</li>
</ol>

<h2>Edit Attachment Set '@Model.Name'</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <hr />
        @{await Html.RenderPartialAsync("_ValidationModelErrorPartial");}
        <input type="hidden" asp-for="AttachmentSetID" />
        <input type="hidden" asp-for="RegionID" />
        <input type="hidden" asp-for="TenantID" />
        <input type="hidden" asp-for="Name" />
        <input type="hidden" asp-for="IsLayer3" />
        <input type="hidden" asp-for="RowVersion" />

        <div class="form-group">
            <label asp-for="SubRegion" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="SubRegionID" class="form-control" asp-items="ViewBag.SubRegionID">
                    <option value="">-- Optionally Select Sub-Region --</option>
                </select>
                <span asp-validation-for="SubRegionID" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="AttachmentRedundancy" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="AttachmentRedundancyID" class="form-control" asp-items="ViewBag.AttachmentRedundancyID">
                    <option value="">-- Select Attachment Redundancy --</option>
                </select>
                <span asp-validation-for="AttachmentRedundancyID" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="MulticastVpnDomainType" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="MulticastVpnDomainTypeID" class="form-control" asp-items="ViewBag.MulticastVpnDomainTypeID"
                        data-toggle="tooltip" data-placement="right" title="Select a Multicast Domain Type for each of the Tenant Multicast Domains which are to be attached to any
                            Multicast VPNs with this Attachment Set">
                    <option value="">-- Select Multicast Domain Type --</option>
                </select>
                <span asp-validation-for="MulticastVpnDomainTypeID" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" id="Edit" class="btn btn-success" asp-action="Edit">
                    <span class="glyphicon glyphicon-save"></span>&nbsp;Save
                </button>
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="GetAllByTenantID" asp-route-id="@Model.TenantID">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
