
<!-- HTML for a modal loading spinner -->
<div class="modal fade mind-loading-spinner-modal" id="loadingSpinner" tabindex="-1" role="dialog" aria-labelledby="loadingSpinnerLabel">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-body text-center">
                <div class="mind-loader"></div>
                <div clas="loader-txt">
                    <p>Please Wait<br><br><small>Applying updates....</small></p>
                </div>
            </div>
        </div>
    </div>
</div>
