

@if (ViewData["ErrorMessage"] != null)
{
    <div class="alert alert-danger row" role="alert">
        <div class="col-sm-1">
            <i class="fas fa-exclamation-triangle fa-3x"></i>
            <span class="sr-only">Error:</span>
        </div>
        <div class="col-sm-11">@Html.Raw(ViewData["ErrorMessage"])</div>
    </div>
}

@if (ViewData["SuccessMessage"] != null)
{
    <div class="alert alert-success row" role="alert">
        <div class="col-sm-1 my-auto">
            <i class="fas fa-check-circle fa-3x"></i>
            <span class="sr-only">Success:</span>
        </div>
        <div class="col-sm-11">@Html.Raw(ViewData["SuccessMessage"])</div>
    </div>
}

@if (ViewData["WarningMessage"] != null)
{
    <div class="alert alert-warning row" role="alert">
        <div class="col-sm-1">
            <i class="fas fa-exclamation-triangle fa-3x"></i>
            <span class="sr-only">Warning:</span>
        </div>
        <div class="col-sm-11">@Html.Raw(ViewData["WarningMessage"])</div>
    </div>
}
