
@{
    if (!ViewData.ModelState.IsValid && ViewData.ModelState.Any(x => x.Key == string.Empty))
    {
        <div class="alert alert-danger message-container" role="alert">
            <div class="message-glyph">
                <div class="glyphicon glyphicon-exclamation-sign glyphicon-lg" aria-hidden="true"></div>
                <span class="sr-only">Error:</span>
            </div>
            <div class="message-content" asp-validation-summary="ModelOnly"></div>
        </div>
    }
}