@{
    ViewData["Title"] = "Item Not Found";
}

<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="~/images/error.png" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">Whoops!</h5>
        <p class="card-text">We couldn't find the item you were working on. Possibly the item was deleted by somebody else while you were working with it.
        Return to the home page. If you believe this is an error then please contact your system administrator.</p>
        <a href="/Home" class="btn btn-primary">Go to Home Page</a>
    </div>
</div>
