/*
 * MIND API
 *
 * This is the Master Inventory Network Database (MIND) API. MIND provides automated allocation of technical attributes needed to create IP and Ethernet VPNs on the global Sigma network. MIND supports the 'Nova' services specfication which defines the collection of connectivity services supported by ENT. Go to https://thehub.thomsonreuters.com/docs/DOC-2193014 to learn more.
 *
 * OpenAPI spec version: 1.0.0
 * Contact: jonathan.beasley@thomsonreuters.com
 * Generated by: https://github.com/swagger-api/swagger-codegen.git
 */

using System;
using System.Collections.Generic;
using System.Linq;
using System.Net;
using System.Threading.Tasks;
using Microsoft.AspNetCore.Http;
using Microsoft.AspNetCore.Mvc;
using Microsoft.AspNetCore.WebUtilities;
using Microsoft.Extensions.Logging;
using Microsoft.Extensions.Primitives;
using Swashbuckle.AspNetCore.SwaggerGen;
using Newtonsoft.Json;
using System.ComponentModel.DataAnnotations;
using Mind.Api.Attributes;
using Mind.Api.Models;
using AutoMapper;
using Mind.Services;
using Mind.Builders;
using Microsoft.EntityFrameworkCore;

namespace Mind.Api.Controllers
{ 
    /// <summary>
    /// 
    /// </summary>
    public class TenantAttachmentSetRoutingInstanceApiController : BaseApiController
    {
        private readonly IAttachmentSetRoutingInstanceService _attachmentSetRoutingInstanceService;

        /// <summary>
        /// 
        /// </summary>
        /// <param name="attachmentSetRoutingInstanceService"></param>
        /// <param name="mapper"></param>
        public TenantAttachmentSetRoutingInstanceApiController(IAttachmentSetRoutingInstanceService attachmentSetRoutingInstanceService, IMapper mapper) : 
            base(attachmentSetRoutingInstanceService, mapper)
        {
            _attachmentSetRoutingInstanceService = attachmentSetRoutingInstanceService;
        }

        /// <summary>
        /// Add a routing instance to a given attachment set
        /// </summary>
        
        /// <param name="attachmentSetId">ID of the attachment set</param>
        /// <param name="routingInstanceId">ID of a routing instance to be added to the attachment set</param>
        /// <param name="body">request object that generates a new routing instance entry for an attachment set</param>
        /// <response code="204">Successful operation</response>
        /// <response code="404">The specified resource was not found</response>
        [HttpPost]
        [Route("/v1/attachment-set/{attachmentSetId}/routing-instance")]
        [ValidateModelState]
        [ValidateAttachmentSetExists]
        [SwaggerOperation("AddAttachmentSetRoutingInstance")]
        [SwaggerResponse(statusCode: 204, type: typeof(ApiResponse), description: "Successful operation")]
        [SwaggerResponse(statusCode: 404, type: typeof(ApiResponse), description: "The specified resource was not found")]
        public virtual async Task<IActionResult> AddAttachmentSetRoutingInstance([FromRoute][Required]int? attachmentSetId, 
            [FromBody][Required]RoutingInstanceForAttachmentSetRequest body)
        {
            try
            {
                var request = Mapper.Map<Mind.Models.RequestModels.RoutingInstanceForAttachmentSetRequest>(body);
                var attachmentSetRoutingInstance = await _attachmentSetRoutingInstanceService.AddAsync(attachmentSetId.Value, request);
                var attachmentSetRoutingInstanceApiModel = Mapper.Map<Mind.Api.Models.AttachmentSetRoutingInstance>(attachmentSetRoutingInstance);
                return CreatedAtRoute("GetAttachmentSetRoutingInstance", 
                    new { attachmentSetRoutingInstanceId = attachmentSetRoutingInstance.AttachmentSetRoutingInstanceID }, attachmentSetRoutingInstanceApiModel);
            }

            catch (BuilderBadArgumentsException ex)
            {
                return StatusCode(StatusCodes.Status400BadRequest, new ApiResponse
                {
                    Message = ex.Message
                });
            }

            catch (BuilderUnableToCompleteException ex)
            {
                return StatusCode(StatusCodes.Status422UnprocessableEntity, new ApiResponse
                {
                    Message = ex.Message
                });
            }

            catch (DbUpdateException ex)
            {
                return StatusCode(StatusCodes.Status500InternalServerError, new ApiResponse
                {
                    Message = "Unable to save changes. " +
                    "Try again, and if the problem persists " +
                    "see your system administrator." + ex.Message

                });
            }
        }

        /// <summary>
        /// Delete a routing instance from an attachment set
        /// </summary>

        /// <param name="attachmentSetRoutingInstanceId">ID of the attachment set routing instance</param>
        /// <response code="204">Successful operation</response>
        /// <response code="404">The specified resource was not found</response>
        /// <response code="422">Validation failed</response>
        /// <response code="500">Error while updating the database</response>
        [HttpDelete]
        [Route("/v1/attachment-set-routing-instance/{attachmentSetRoutingInstanceId}")]
        [ValidateModelState]
        [ValidateAttachmentSetRoutingInstanceExists]
        [SwaggerOperation("DeleteAttachmentSetRoutingInstance")]
        [SwaggerResponse(statusCode: 204, description: "Successful operation")]
        [SwaggerResponse(statusCode: 404, type: typeof(ApiResponse), description: "The specified resource was not found")]
        [SwaggerResponse(statusCode: 422, type: typeof(ApiResponse), description: "Validation failed")]
        [SwaggerResponse(statusCode: 500, type: typeof(ApiResponse), description: "Error while updating the database")]
        public virtual async Task<IActionResult> DeleteAttachmentSetRoutingInstance([FromRoute][Required]int? attachmentSetRoutingInstanceId)
        {
            try
            {
                await _attachmentSetRoutingInstanceService.DeleteAsync(attachmentSetRoutingInstanceId.Value);
                return StatusCode(StatusCodes.Status204NoContent);
            }

            catch (ServiceValidationException)
            {
                return StatusCode(StatusCodes.Status422UnprocessableEntity, new ApiResponse(this.ModelState));
            }

            catch (DbUpdateException)
            {
                return StatusCode(StatusCodes.Status500InternalServerError, new ApiResponse
                {
                    Message = "Unable to save changes. " +
                    "Try again, and if the problem persists " +
                    "see your system administrator."
                });
            }
        }

        /// <summary>
        /// Find an attachment set routing instance by ID
        /// </summary>
        /// <remarks>Returns a single attachment set routing instance</remarks>
        /// <param name="attachmentSetRoutingInstanceId">ID of the attachment set routing instance</param>
        /// <response code="200">Successful operation</response>
        /// <response code="404">The specified resource was not found</response>
        [HttpGet]
        [Route("/v1/attachment-set-routing-instance/{attachmentSetRoutingInstanceId}", Name = "GetAttachmentSetRoutingInstance")]
        [ValidateModelState]
        [ValidateAttachmentSetRoutingInstanceExists]
        [SwaggerOperation("GetAttachmentSetRoutingInstanceById")]
        [SwaggerResponse(statusCode: 200, type: typeof(AttachmentSet), description: "Successful operation")]
        [SwaggerResponse(statusCode: 404, type: typeof(ApiResponse), description: "The specified resource was not found")]
        public virtual async Task<IActionResult> GetAttachmentSetById([FromRoute][Required]int? attachmentSetRoutingInstanceId, [FromQuery]bool? deep)
        {
            var attachmentSetRoutingInstance = await _attachmentSetRoutingInstanceService.GetByIDAsync(attachmentSetRoutingInstanceId.Value, deep);
            return Ok(Mapper.Map<AttachmentSetRoutingInstance>(attachmentSetRoutingInstance));
        }
    }
}
