@model Mind.WebUI.Models.TenantIpNetworkDeleteViewModel


@{
    ViewData["Title"] = "Delete Tenant IP Network";
}

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/Home">Home</a></li>
    <li class="breadcrumb-item"><a href="/Tenant/GetAll">Tenants</a></li>
    <li class="breadcrumb-item"><a href="/TenantIpNetwork/GetAllByTenantID?tenantId=@Model.TenantId">Tenant IP Networks - [@Model.TenantName]</a></li>
    <li class="breadcrumb-item active">Delete - [@Model.CidrNameIncludingIpv4LessThanOrEqualToLength]</li>
</ol>

<h2>Delete IP Network '@Model.CidrNameIncludingIpv4LessThanOrEqualToLength'</h2>

@{await Html.RenderPartialAsync("_MessagingPartial");}
@{await Html.RenderPartialAsync("_ValidationModelErrorPartial");}

<h3>Are you sure you want to delete this?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CidrNameIncludingIpv4LessThanOrEqualToLength)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CidrNameIncludingIpv4LessThanOrEqualToLength)
        </dd>
    </dl>
    <hr />
    <form asp-action="Delete">
        <input type="hidden" asp-for="TenantIpNetworkId" />
        <input type="hidden" asp-for="TenantId" />
        <input type="hidden" asp-for="RowVersion" />
        <div class="form-actions no-color">
            <button type="submit" id="Delete" class="btn btn-danger" asp-action="Delete" is-delete-button>
            </button> |
            <a asp-action="GetAllByTenantID" asp-route-tenantId="@Model.TenantId">Back to Tenant IP Networks List</a>
        </div>
    </form>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}