@using Mind.WebUI.Models;
@model Mind.WebUI.Models.TenantIpNetworkUpdateViewModel

@{
    ViewData["Title"] = "Edit Tenant IP Network";
}

<div id="crumbs">
    <ul>
        <li><a href="/Home"><i class="fa fa-home" aria-hidden="true"></i></a></li>
        <li><a href="/Tenant/GetAll"><i class="fa" aria-hidden="true"></i> Tenants</a></li>
        <li><a href="/TenantIpNetwork/GetAllByTenantId?tenantId=@ViewBag.Tenant.TenantId"><i class="fa active" aria-hidden="true"></i>Tenant IP Networks - [@ViewBag.Tenant.Name]</a></li>
        <li class="active"><a href="#"><i class="fa" aria-hidden="true"></i>Edit - [@Model.CidrNameIncludingIpv4LessThanOrEqualToLength]</a></li>
    </ul>
</div>
<h2>Edit IP Network '@Model.CidrNameIncludingIpv4LessThanOrEqualToLength'</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <hr />
        @{await Html.RenderPartialAsync("_ValidationModelErrorPartial");}
        <input type="hidden" asp-for="TenantIpNetworkId" value="@Model.TenantIpNetworkId" />
        <input type="hidden" asp-for="RowVersion" />
        <div class="form-group row">
            <label asp-for="Ipv4Prefix" class="col-sm-2 col-form-label"> </label>
            <div class="col-sm-10">
                <input asp-for="Ipv4Prefix" class="form-control" />
                <span asp-validation-for="Ipv4Prefix" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="Ipv4Length" class="col-sm-2 col-form-label"> </label>
            <div class="col-sm-10">
                <input asp-for="Ipv4Length" class="form-control" />
                <span asp-validation-for="Ipv4Length" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="Ipv4LessThanOrEqualToLength" class="col-sm-2 col-form-label"> </label>
            <div class="col-sm-10">
                <input asp-for="Ipv4LessThanOrEqualToLength" class="form-control" />
                <span asp-validation-for="Ipv4LessThanOrEqualToLength" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-form-label col-sm-2"></label>
            <div class="col-sm-10">
                <div class="custom-control custom-checkbox">
                    <input class="form-check-input custom-control-input" type="checkbox" asp-for="AllowExtranet" data-toggle="tooltip" title="Enable the IP network to participate in extranet services">
                    <label class="form-check-label custom-control-label" asp-for="AllowExtranet"></label>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="IpRoutingBehaviour" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <select asp-for="IpRoutingBehaviour" class="form-control" asp-items="ViewBag.IpRoutingBehaviour" data-toggle="tooltip"
                        title="Select the routing behaviour required for IP network" data-placement="right">
                    <option disabled value="">-- Select IP Routing Behaviour --</option>
                </select>
                <span asp-validation-for="IpRoutingBehaviour" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" id="Edit" class="btn btn-success" asp-action="Edit" is-save-button></button>
            </div>
        </div>
    </div>
</form>

<div>
    <a mind-nav-link-back-btn="true" asp-action="GetAllByTenantID" asp-route-tenantID="@ViewBag.Tenant.TenantId">Back to Tenant IP Networks</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

<script type="text/javascript">

    (function ($) {

        // Initialise all tool-tips
        $('[data-toggle="tooltip"]').tooltip();

    }(jQuery));

</script>

}