{
  "swagger" : "2.0",
  "info" : {
    "description" : "This is the Master Inventory Network Database (MIND) API. MIND provides automated allocation of technical attributes needed to create IP and Ethernet VPNs on the global Sigma network. MIND supports the 'Nova' services specfication which defines the collection of connectivity services supported by ENT. Go to https://thehub.thomsonreuters.com/docs/DOC-2193014 to learn more.",
    "version" : "1.0.0",
    "title" : "MIND API",
    "contact" : {
      "email" : "jonathan.beasley@thomsonreuters.com"
    },
    "license" : {
      "name" : "Apache 2.0",
      "url" : "http://www.apache.org/licenses/LICENSE-2.0.html"
    }
  },
  "host" : "raid.thomsonreuters.com",
  "basePath" : "/v1",
  "tags" : [ {
    "name" : "tenant",
    "description" : "List, create, delete tenants",
    "externalDocs" : {
      "description" : "Find out more about how to create and manage tenants",
      "url" : "https://thehub.thomsonreuters.com/docs/DOC-2198311"
    }
  }, {
    "name" : "tenant device",
    "description" : "List, create, delete tenant devices and ports"
  }, {
    "name" : "tenant attachment",
    "description" : "List, create, delete attachments"
  }, {
    "name" : "tenant vif",
    "description" : "List, create, delete vifs"
  }, {
    "name" : "tenant routing instance",
    "description" : "Manage routing instances and related objects such as BGP peers"
  }, {
    "name" : "tenant ipv4 network",
    "description" : "List, create, delete IPv4 networks for tenants"
  }, {
    "name" : "tenant attachment set",
    "description" : "List, create, delete attachment-sets"
  }, {
    "name" : "vpn",
    "description" : "List, create, delete virtual private networks"
  }, {
    "name" : "infrastructure device",
    "description" : "List, create, delete infrastructure devices"
  }, {
    "name" : "infrastructure attachment",
    "description" : "List, create, delete infrastructure attachments"
  }, {
    "name" : "infrastructure vif",
    "description" : "List, create, delete infrastructure vifs"
  } ],
  "schemes" : [ "https", "http" ],
  "paths" : {
    "/tenant" : {
      "get" : {
        "tags" : [ "tenant" ],
        "summary" : "Find all tenants",
        "description" : "Returns all tenants",
        "operationId" : "getAllTenants",
        "produces" : [ "application/xml", "application/json" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "Successful operation",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/Tenant"
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "tenant" ],
        "summary" : "Create a tenant",
        "description" : "This can only be done by the logged in tenant.",
        "operationId" : "createTenant",
        "produces" : [ "application/xml", "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "description" : "Created tenant object",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/Tenant"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful operation",
            "schema" : {
              "$ref" : "#/definitions/Tenant"
            }
          },
          "400" : {
            "description" : "Validation error",
            "schema" : {
              "$ref" : "#/definitions/ApiResponse"
            }
          }
        }
      }
    },
    "/tenant/{tenantId}" : {
      "get" : {
        "tags" : [ "tenant" ],
        "summary" : "Find tenant by ID",
        "description" : "Returns a single tenant",
        "operationId" : "getTenantById",
        "produces" : [ "application/xml", "application/json" ],
        "parameters" : [ {
          "name" : "tenantId",
          "in" : "path",
          "description" : "ID of the tenant",
          "required" : true,
          "type" : "integer",
          "format" : "int32"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/Tenant"
            }
          },
          "404" : {
            "description" : "The specified resource was not found",
            "schema" : {
              "$ref" : "#/definitions/ApiResponse"
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "tenant" ],
        "summary" : "Deletes a tenant",
        "description" : "",
        "operationId" : "deleteTenant",
        "produces" : [ "application/xml", "application/json" ],
        "parameters" : [ {
          "name" : "tenantId",
          "in" : "path",
          "description" : "ID of the tenant",
          "required" : true,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "api_key",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "204" : {
            "description" : "Successful operation",
            "schema" : {
              "$ref" : "#/definitions/ApiResponse"
            }
          },
          "404" : {
            "description" : "The specified resource was not found",
            "schema" : {
              "$ref" : "#/definitions/ApiResponse"
            }
          }
        }
      }
    },
    "/tenant/{tenantId}/routing-instance" : {
      "get" : {
        "tags" : [ "tenant routing instance" ],
        "summary" : "Find all routing instances for a given tenant",
        "description" : "Returns all routing instances for a given tenant",
        "operationId" : "getAllRoutingInstancesByTenant",
        "produces" : [ "application/xml", "application/json" ],
        "parameters" : [ {
          "name" : "tenantId",
          "in" : "path",
          "description" : "ID of the tenant",
          "required" : true,
          "type" : "integer",
          "format" : "int32"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/RoutingInstance"
              }
            }
          },
          "404" : {
            "description" : "The specified resource was not found",
            "schema" : {
              "$ref" : "#/definitions/ApiResponse"
            }
          }
        }
      }
    },
    "/tenant/routing-instance/{routingInstanceId}" : {
      "get" : {
        "tags" : [ "tenant routing instance" ],
        "summary" : "Find a single routing instance",
        "description" : "Returns a single routing instance",
        "operationId" : "getRoutingInstanceById",
        "produces" : [ "application/xml", "application/json" ],
        "parameters" : [ {
          "name" : "routingInstanceId",
          "in" : "path",
          "description" : "ID of the routing instance",
          "required" : true,
          "type" : "integer",
          "format" : "int32"
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful operation",
            "schema" : {
              "$ref" : "#/definitions/RoutingInstance"
            }
          },
          "404" : {
            "description" : "The specified resource was not found",
            "schema" : {
              "$ref" : "#/definitions/ApiResponse"
            }
          }
        }
      }
    },
    "/tenant/routing-instance/{routingInstanceId}/bgp-peer" : {
      "get" : {
        "tags" : [ "tenant routing instance" ],
        "summary" : "Find all BGP peers for a given routing instance",
        "description" : "Returns all BGP peers for a given routing instance",
        "operationId" : "getAllBgpPeersByRoutingInstance",
        "produces" : [ "application/xml", "application/json" ],
        "parameters" : [ {
          "name" : "routingInstanceId",
          "in" : "path",
          "description" : "ID of the routing instance",
          "required" : true,
          "type" : "integer",
          "format" : "int32"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/BgpPeer"
              }
            }
          },
          "404" : {
            "description" : "The specified resource was not found",
            "schema" : {
              "$ref" : "#/definitions/ApiResponse"
            }
          }
        }
      },
      "post" : {
        "tags" : [ "tenant routing instance" ],
        "summary" : "Add a bgp peer to a given routing instance",
        "operationId" : "addRoutingInstanceBgpPeer",
        "produces" : [ "application/xml", "application/json" ],
        "parameters" : [ {
          "name" : "routingInstanceId",
          "in" : "path",
          "description" : "ID of the routing instance",
          "required" : true,
          "type" : "integer",
          "format" : "int32"
        }, {
          "in" : "body",
          "name" : "body",
          "description" : "request object that creates a new BGP peer entry",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/BgpPeer"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful operation",
            "schema" : {
              "$ref" : "#/definitions/BgpPeer"
            }
          },
          "400" : {
            "description" : "Validation error",
            "schema" : {
              "$ref" : "#/definitions/ApiResponse"
            }
          },
          "404" : {
            "description" : "The specified resource was not found",
            "schema" : {
              "$ref" : "#/definitions/ApiResponse"
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "tenant routing instance" ],
        "summary" : "Delete a BGP peer from a given routing instance",
        "description" : "",
        "operationId" : "deleteRoutingInstanceBgpPeer",
        "produces" : [ "application/xml", "application/json" ],
        "parameters" : [ {
          "name" : "routingInstanceId",
          "in" : "path",
          "description" : "ID of the routing instance",
          "required" : true,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "api_key",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "204" : {
            "description" : "Successful operation",
            "schema" : {
              "$ref" : "#/definitions/ApiResponse"
            }
          },
          "404" : {
            "description" : "The specified resource was not found",
            "schema" : {
              "$ref" : "#/definitions/ApiResponse"
            }
          }
        }
      }
    },
    "/tenant/{tenantId}/attachment-set" : {
      "get" : {
        "tags" : [ "tenant attachment set" ],
        "summary" : "Find all attachment sets for a given tenant",
        "description" : "Returns all attachment sets for a given tenant",
        "operationId" : "getAttachmentSetsByTenantId",
        "produces" : [ "application/xml", "application/json" ],
        "parameters" : [ {
          "name" : "tenantId",
          "in" : "path",
          "description" : "ID of the tenant",
          "required" : true,
          "type" : "integer",
          "format" : "int32"
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful operation",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/Attachment"
              }
            }
          },
          "404" : {
            "description" : "The specified resource was not found",
            "schema" : {
              "$ref" : "#/definitions/ApiResponse"
            }
          }
        }
      },
      "post" : {
        "tags" : [ "tenant attachment set" ],
        "summary" : "Create a new attachment set",
        "description" : "",
        "operationId" : "addAttachmentSet",
        "consumes" : [ "application/json", "application/xml" ],
        "produces" : [ "application/xml", "application/json" ],
        "parameters" : [ {
          "name" : "tenantId",
          "in" : "path",
          "description" : "ID of the tenant",
          "required" : true,
          "type" : "integer",
          "format" : "int32"
        }, {
          "in" : "body",
          "name" : "body",
          "description" : "attachment set request object that generates a new attachment set",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/AttachmentSetRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/AttachmentSet"
              }
            }
          },
          "400" : {
            "description" : "Validation error",
            "schema" : {
              "$ref" : "#/definitions/ApiResponse"
            }
          },
          "404" : {
            "description" : "The specified resource was not found",
            "schema" : {
              "$ref" : "#/definitions/ApiResponse"
            }
          }
        }
      }
    },
    "/tenant/attachment-set/{attachmentSetId}" : {
      "get" : {
        "tags" : [ "tenant attachment set" ],
        "summary" : "Find an attachment set by ID",
        "description" : "Returns a single attachment set",
        "operationId" : "getAttachmentSetById",
        "produces" : [ "application/xml", "application/json" ],
        "parameters" : [ {
          "name" : "attachmentSetId",
          "in" : "path",
          "description" : "ID of the attachment set",
          "required" : true,
          "type" : "integer",
          "format" : "int32"
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful operation",
            "schema" : {
              "$ref" : "#/definitions/AttachmentSet"
            }
          },
          "404" : {
            "description" : "The specified resource was not found",
            "schema" : {
              "$ref" : "#/definitions/ApiResponse"
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "tenant attachment set" ],
        "summary" : "Deletes an attachment set",
        "description" : "",
        "operationId" : "deleteAttachmentSet",
        "produces" : [ "application/xml", "application/json" ],
        "parameters" : [ {
          "name" : "attachmentSetId",
          "in" : "path",
          "description" : "ID of the attachment set",
          "required" : true,
          "type" : "integer",
          "format" : "int32"
        } ],
        "responses" : {
          "204" : {
            "description" : "Successful operation",
            "schema" : {
              "$ref" : "#/definitions/ApiResponse"
            }
          },
          "404" : {
            "description" : "The specified resource was not found",
            "schema" : {
              "$ref" : "#/definitions/ApiResponse"
            }
          }
        }
      }
    },
    "/tenant/attachment-set/{attachmentSetId}/routing-instance/{routingInstanceId}" : {
      "post" : {
        "tags" : [ "tenant attachment set" ],
        "summary" : "Add a routing instance to a given attachment set",
        "operationId" : "addAttachmentSetRoutingInstance",
        "produces" : [ "application/xml", "application/json" ],
        "parameters" : [ {
          "name" : "attachmentSetId",
          "in" : "path",
          "description" : "ID of the attachment set",
          "required" : true,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "routingInstanceId",
          "in" : "path",
          "description" : "ID of a routing instance to be added to the attachment set",
          "required" : true,
          "type" : "integer",
          "format" : "int32"
        }, {
          "in" : "body",
          "name" : "body",
          "description" : "request object that generates a new routing instance entry for an attachment set",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/AttachmentSetRoutingInstance"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "Successful operation",
            "schema" : {
              "$ref" : "#/definitions/ApiResponse"
            }
          },
          "404" : {
            "description" : "The specified resource was not found",
            "schema" : {
              "$ref" : "#/definitions/ApiResponse"
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "tenant attachment set" ],
        "summary" : "Delete a routing instance from an attachment set",
        "description" : "",
        "operationId" : "deleteAttachmentSetRoutingInstance",
        "produces" : [ "application/xml", "application/json" ],
        "parameters" : [ {
          "name" : "attachmentSetId",
          "in" : "path",
          "description" : "ID of the attachment set",
          "required" : true,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "routingInstanceId",
          "in" : "path",
          "description" : "ID of a routing instance to be added to the attachment set",
          "required" : true,
          "type" : "integer",
          "format" : "int32"
        } ],
        "responses" : {
          "204" : {
            "description" : "Successful operation",
            "schema" : {
              "$ref" : "#/definitions/ApiResponse"
            }
          },
          "404" : {
            "description" : "The specified resource was not found",
            "schema" : {
              "$ref" : "#/definitions/ApiResponse"
            }
          }
        }
      }
    },
    "/tenant/attachment-set/{attachmentSetId}/inbound-policy/ipv4-network/{tenantIpv4NetworkId}" : {
      "post" : {
        "tags" : [ "tenant attachment set" ],
        "summary" : "Add a tenant IPv4 network to the inbound policy of a given attachment set",
        "operationId" : "addAttachmentSetInboundPoloicyTenantIpv4Network",
        "produces" : [ "application/xml", "application/json" ],
        "parameters" : [ {
          "name" : "attachmentSetId",
          "in" : "path",
          "description" : "ID of the attachment set",
          "required" : true,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "tenantIpv4NetworkId",
          "in" : "path",
          "description" : "ID of the tenant IPv4 network",
          "required" : true,
          "type" : "integer",
          "format" : "int32"
        }, {
          "in" : "body",
          "name" : "body",
          "description" : "request object that generates a new inbound policy entry for a tenant IPv4 network",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/VpnTenantIpv4NetworkIn"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "Successful operation",
            "schema" : {
              "$ref" : "#/definitions/ApiResponse"
            }
          },
          "404" : {
            "description" : "The specified resource was not found",
            "schema" : {
              "$ref" : "#/definitions/ApiResponse"
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "tenant attachment set" ],
        "summary" : "Delete a tenant IPv4 network from the inbound policy of a given attachment set",
        "description" : "",
        "operationId" : "deleteAttachmentSetInboundPolicyTenantIpv4Network",
        "produces" : [ "application/xml", "application/json" ],
        "parameters" : [ {
          "name" : "attachmentSetId",
          "in" : "path",
          "description" : "ID of the attachment set",
          "required" : true,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "tenantIpv4NetworkId",
          "in" : "path",
          "description" : "ID of the tenant IPv4 network",
          "required" : true,
          "type" : "integer",
          "format" : "int32"
        } ],
        "responses" : {
          "204" : {
            "description" : "Successful operation",
            "schema" : {
              "$ref" : "#/definitions/ApiResponse"
            }
          },
          "404" : {
            "description" : "The specified resource was not found",
            "schema" : {
              "$ref" : "#/definitions/ApiResponse"
            }
          }
        }
      }
    },
    "/tenant/attachment-set/{attachmentSetId}/outbound-policy/ipv4-network/{tenantIpv4NetworkId}" : {
      "post" : {
        "tags" : [ "tenant attachment set" ],
        "summary" : "Add a tenant IPv4 network to the outbound policy of a given attachment set",
        "operationId" : "addAttachmentSetOutboundPolicyTenantIpv4Network",
        "produces" : [ "application/xml", "application/json" ],
        "parameters" : [ {
          "name" : "attachmentSetId",
          "in" : "path",
          "description" : "ID of the attachment set",
          "required" : true,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "tenantIpv4NetworkId",
          "in" : "path",
          "description" : "ID of the tenant IPv4 network",
          "required" : true,
          "type" : "integer",
          "format" : "int32"
        }, {
          "in" : "body",
          "name" : "body",
          "description" : "request object that generates a new outbound policy entry for an tenant IPv4 network",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/VpnTenantIpv4NetworkOut"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "Successful operation",
            "schema" : {
              "$ref" : "#/definitions/ApiResponse"
            }
          },
          "404" : {
            "description" : "The specified resource was not found",
            "schema" : {
              "$ref" : "#/definitions/ApiResponse"
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "tenant attachment set" ],
        "summary" : "Delete a tenant IPv4 network from the outbound policy of a given attachment set",
        "description" : "",
        "operationId" : "deleteAttachmentSetOutboundPolicyTenantIpv4Network",
        "produces" : [ "application/xml", "application/json" ],
        "parameters" : [ {
          "name" : "attachmentSetId",
          "in" : "path",
          "description" : "ID of the attachment set",
          "required" : true,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "tenantIpv4NetworkId",
          "in" : "path",
          "description" : "ID of the tenant IPv4 network",
          "required" : true,
          "type" : "integer",
          "format" : "int32"
        } ],
        "responses" : {
          "204" : {
            "description" : "Successful operation",
            "schema" : {
              "$ref" : "#/definitions/ApiResponse"
            }
          },
          "404" : {
            "description" : "The specified resource was not found",
            "schema" : {
              "$ref" : "#/definitions/ApiResponse"
            }
          }
        }
      }
    },
    "/tenant/{tenantId}/device" : {
      "get" : {
        "tags" : [ "tenant device" ],
        "summary" : "Find all devices for a given tenant",
        "description" : "Returns all infrastructure devices",
        "operationId" : "getAllTenantDevices",
        "produces" : [ "application/xml", "application/json" ],
        "parameters" : [ {
          "name" : "tenantId",
          "in" : "path",
          "description" : "ID of the tenant",
          "required" : true,
          "type" : "integer",
          "format" : "int32"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/TenantDevice"
              }
            }
          },
          "404" : {
            "description" : "The specified resource was not found",
            "schema" : {
              "$ref" : "#/definitions/ApiResponse"
            }
          }
        }
      },
      "post" : {
        "tags" : [ "tenant device" ],
        "summary" : "Create a new tenant device",
        "description" : "",
        "operationId" : "addTenantDevice",
        "consumes" : [ "application/json", "application/xml" ],
        "produces" : [ "application/xml", "application/json" ],
        "parameters" : [ {
          "name" : "tenantId",
          "in" : "path",
          "description" : "ID of the tenant",
          "required" : true,
          "type" : "integer",
          "format" : "int32"
        }, {
          "in" : "body",
          "name" : "body",
          "description" : "device request object that generates a new device",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/TenantDeviceRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful operation",
            "schema" : {
              "$ref" : "#/definitions/TenantDevice"
            }
          },
          "400" : {
            "description" : "Validation error",
            "schema" : {
              "$ref" : "#/definitions/ApiResponse"
            }
          },
          "404" : {
            "description" : "The specified resource was not found",
            "schema" : {
              "$ref" : "#/definitions/ApiResponse"
            }
          }
        }
      }
    },
    "/tenant/device/{deviceId}" : {
      "get" : {
        "tags" : [ "tenant device" ],
        "summary" : "Find device by ID",
        "description" : "Returns a single device",
        "operationId" : "getTenantDeviceById",
        "produces" : [ "application/xml", "application/json" ],
        "parameters" : [ {
          "name" : "deviceId",
          "in" : "path",
          "description" : "ID of the device",
          "required" : true,
          "type" : "integer",
          "format" : "int32"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/TenantDevice"
            }
          },
          "404" : {
            "description" : "The specified resource was not found",
            "schema" : {
              "$ref" : "#/definitions/ApiResponse"
            }
          }
        }
      },
      "put" : {
        "tags" : [ "tenant device" ],
        "summary" : "Update an existing device",
        "description" : "",
        "operationId" : "updateTenantDevice",
        "consumes" : [ "application/json", "application/xml" ],
        "produces" : [ "application/xml", "application/json" ],
        "parameters" : [ {
          "name" : "deviceId",
          "in" : "path",
          "description" : "ID of the device",
          "required" : true,
          "type" : "integer",
          "format" : "int32"
        }, {
          "in" : "body",
          "name" : "body",
          "description" : "device update object that updates an existing device",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/TenantDeviceUpdate"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/TenantDevice"
              }
            }
          },
          "400" : {
            "description" : "Validation error",
            "schema" : {
              "$ref" : "#/definitions/ApiResponse"
            }
          },
          "404" : {
            "description" : "The specified resource was not found",
            "schema" : {
              "$ref" : "#/definitions/ApiResponse"
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "tenant device" ],
        "summary" : "Deletes a device",
        "description" : "",
        "operationId" : "deleteTenantDevice",
        "produces" : [ "application/xml", "application/json" ],
        "parameters" : [ {
          "name" : "deviceId",
          "in" : "path",
          "description" : "ID of the device",
          "required" : true,
          "type" : "integer",
          "format" : "int32"
        } ],
        "responses" : {
          "204" : {
            "description" : "Successful operation",
            "schema" : {
              "$ref" : "#/definitions/ApiResponse"
            }
          },
          "404" : {
            "description" : "The specified resource was not found",
            "schema" : {
              "$ref" : "#/definitions/ApiResponse"
            }
          }
        }
      }
    },
    "/tenant/device/{deviceId}/port" : {
      "get" : {
        "tags" : [ "tenant device" ],
        "summary" : "Find all ports for a given tenant device",
        "description" : "Returns all ports for a given tenant device",
        "operationId" : "getPortsByTenantDevice",
        "produces" : [ "application/xml", "application/json" ],
        "parameters" : [ {
          "name" : "deviceId",
          "in" : "path",
          "description" : "ID of the device",
          "required" : true,
          "type" : "integer",
          "format" : "int32"
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful operation",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/Port"
              }
            }
          },
          "404" : {
            "description" : "The specified resource was not found",
            "schema" : {
              "$ref" : "#/definitions/ApiResponse"
            }
          }
        }
      },
      "post" : {
        "tags" : [ "tenant device" ],
        "summary" : "Create a new port",
        "operationId" : "createTenantPort",
        "produces" : [ "application/xml", "application/json" ],
        "parameters" : [ {
          "name" : "deviceId",
          "in" : "path",
          "description" : "ID of the device",
          "required" : true,
          "type" : "integer",
          "format" : "int32"
        }, {
          "in" : "body",
          "name" : "body",
          "description" : "Created port object",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/PortRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful operation",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/Port"
              }
            }
          },
          "400" : {
            "description" : "Validation error",
            "schema" : {
              "$ref" : "#/definitions/ApiResponse"
            }
          },
          "404" : {
            "description" : "The specified resource was not found",
            "schema" : {
              "$ref" : "#/definitions/ApiResponse"
            }
          }
        }
      }
    },
    "/tenant/device/port/{portId}" : {
      "get" : {
        "tags" : [ "tenant device" ],
        "summary" : "Find port by ID",
        "description" : "Returns a single port",
        "operationId" : "getTenantPortById",
        "produces" : [ "application/xml", "application/json" ],
        "parameters" : [ {
          "name" : "portId",
          "in" : "path",
          "description" : "ID of the port",
          "required" : true,
          "type" : "integer",
          "format" : "int32"
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful operation",
            "schema" : {
              "$ref" : "#/definitions/Port"
            }
          },
          "404" : {
            "description" : "The specified resource was not found",
            "schema" : {
              "$ref" : "#/definitions/ApiResponse"
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "tenant device" ],
        "summary" : "Deletes a port",
        "description" : "",
        "operationId" : "deleteTenantPort",
        "produces" : [ "application/xml", "application/json" ],
        "parameters" : [ {
          "name" : "portId",
          "in" : "path",
          "description" : "ID of the port",
          "required" : true,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "api_key",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "204" : {
            "description" : "Successful operation",
            "schema" : {
              "$ref" : "#/definitions/ApiResponse"
            }
          },
          "404" : {
            "description" : "The specified resource was not found",
            "schema" : {
              "$ref" : "#/definitions/ApiResponse"
            }
          }
        }
      }
    },
    "/tenant/{tenantId}/ipv4-network" : {
      "get" : {
        "tags" : [ "tenant ipv4 network" ],
        "summary" : "Find all IPv4 networks for a given tenant",
        "description" : "Returns all IPv4 networks for a given tenant",
        "operationId" : "getIpv4NetworksByTenantId",
        "produces" : [ "application/xml", "application/json" ],
        "parameters" : [ {
          "name" : "tenantId",
          "in" : "path",
          "description" : "ID of the tenant",
          "required" : true,
          "type" : "integer",
          "format" : "int32"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/TenantIpv4Network"
              }
            }
          },
          "400" : {
            "description" : "Invalid tenant ID supplied"
          }
        }
      },
      "post" : {
        "tags" : [ "tenant ipv4 network" ],
        "summary" : "Create a new tenant IPv4 network",
        "description" : "",
        "operationId" : "addTenantIpv4Network",
        "consumes" : [ "application/json", "application/xml" ],
        "produces" : [ "application/xml", "application/json" ],
        "parameters" : [ {
          "name" : "tenantId",
          "in" : "path",
          "description" : "ID of the tenant",
          "required" : true,
          "type" : "integer",
          "format" : "int32"
        }, {
          "in" : "body",
          "name" : "body",
          "description" : "IPv4 network request object that generates a new IPv4 network",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/TenantIpv4Network"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful operation",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/TenantIpv4Network"
              }
            }
          },
          "400" : {
            "description" : "Validation error",
            "schema" : {
              "$ref" : "#/definitions/ApiResponse"
            }
          },
          "404" : {
            "description" : "The specified resource was not found",
            "schema" : {
              "$ref" : "#/definitions/ApiResponse"
            }
          }
        }
      }
    },
    "/tenant/ipv4-network/{tenantIpv4NetworkId}" : {
      "get" : {
        "tags" : [ "tenant ipv4 network" ],
        "summary" : "Find a tenant IPv4 network by ID",
        "description" : "Returns a single tenant IPv4 network",
        "operationId" : "getTenantIpv4NetworkById",
        "produces" : [ "application/xml", "application/json" ],
        "parameters" : [ {
          "name" : "tenantIpv4NetworkId",
          "in" : "path",
          "description" : "ID of the tenant IPv4 network",
          "required" : true,
          "type" : "integer",
          "format" : "int32"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/TenantIpv4Network"
            }
          },
          "400" : {
            "description" : "Invalid ID supplied"
          },
          "404" : {
            "description" : "Tenant IPv4 network not found"
          }
        }
      },
      "delete" : {
        "tags" : [ "tenant ipv4 network" ],
        "summary" : "Deletes a tenant IPv4 network",
        "description" : "",
        "operationId" : "deleteTenantIpv4Network",
        "produces" : [ "application/xml", "application/json" ],
        "parameters" : [ {
          "name" : "tenantIpv4NetworkId",
          "in" : "path",
          "description" : "ID of the tenant IPv4 network",
          "required" : true,
          "type" : "integer",
          "format" : "int32"
        } ],
        "responses" : {
          "204" : {
            "description" : "Validation error",
            "schema" : {
              "$ref" : "#/definitions/ApiResponse"
            }
          },
          "404" : {
            "description" : "The specified resource was not found",
            "schema" : {
              "$ref" : "#/definitions/ApiResponse"
            }
          }
        }
      }
    },
    "/infrastructure/device" : {
      "get" : {
        "tags" : [ "infrastructure device" ],
        "summary" : "Find all infrastructure devices",
        "description" : "Returns all infrastructure devices",
        "operationId" : "getAllInfrastructureDevices",
        "produces" : [ "application/xml", "application/json" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "Successful operation",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/InfrastructureDevice"
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "infrastructure device" ],
        "summary" : "Create a new infrastructure device",
        "description" : "",
        "operationId" : "addInfrastructureDevice",
        "consumes" : [ "application/json", "application/xml" ],
        "produces" : [ "application/xml", "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "description" : "device request object that generates a new device",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/InfrastructureDeviceRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful operation",
            "schema" : {
              "$ref" : "#/definitions/InfrastructureDevice"
            }
          },
          "400" : {
            "description" : "Validation error",
            "schema" : {
              "$ref" : "#/definitions/ApiResponse"
            }
          }
        }
      }
    },
    "/infrastructure/device/{deviceId}" : {
      "get" : {
        "tags" : [ "infrastructure device" ],
        "summary" : "Find device by ID",
        "description" : "Returns a single device",
        "operationId" : "getInfrastructureDeviceById",
        "produces" : [ "application/xml", "application/json" ],
        "parameters" : [ {
          "name" : "deviceId",
          "in" : "path",
          "description" : "ID of the device",
          "required" : true,
          "type" : "integer",
          "format" : "int32"
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful operation",
            "schema" : {
              "$ref" : "#/definitions/InfrastructureDevice"
            }
          },
          "404" : {
            "description" : "The specified resource was not found",
            "schema" : {
              "$ref" : "#/definitions/ApiResponse"
            }
          }
        }
      },
      "put" : {
        "tags" : [ "infrastructure device" ],
        "summary" : "Update an existing device",
        "description" : "",
        "operationId" : "updateInfrastructureDevice",
        "consumes" : [ "application/json", "application/xml" ],
        "produces" : [ "application/xml", "application/json" ],
        "parameters" : [ {
          "name" : "deviceId",
          "in" : "path",
          "description" : "ID of the device",
          "required" : true,
          "type" : "integer",
          "format" : "int32"
        }, {
          "in" : "body",
          "name" : "body",
          "description" : "device update object that updates an existing device",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/InfrastructureDeviceUpdate"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful operation",
            "schema" : {
              "$ref" : "#/definitions/InfrastructureDevice"
            }
          },
          "400" : {
            "description" : "Validation error",
            "schema" : {
              "$ref" : "#/definitions/ApiResponse"
            }
          },
          "404" : {
            "description" : "The specified resource was not found",
            "schema" : {
              "$ref" : "#/definitions/ApiResponse"
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "infrastructure device" ],
        "summary" : "Deletes a device",
        "description" : "",
        "operationId" : "deleteInfrastructureDevice",
        "produces" : [ "application/xml", "application/json" ],
        "parameters" : [ {
          "name" : "deviceId",
          "in" : "path",
          "description" : "ID of the device",
          "required" : true,
          "type" : "integer",
          "format" : "int32"
        } ],
        "responses" : {
          "204" : {
            "description" : "Successful operation",
            "schema" : {
              "$ref" : "#/definitions/ApiResponse"
            }
          },
          "404" : {
            "description" : "The specified resource was not found",
            "schema" : {
              "$ref" : "#/definitions/ApiResponse"
            }
          }
        }
      }
    },
    "/infrastructure/device/{deviceId}/port" : {
      "get" : {
        "tags" : [ "infrastructure device" ],
        "summary" : "Find all ports for a given infrastructure device",
        "description" : "Returns all ports for a given infrastructure device",
        "operationId" : "getPortsByInfrastructureDevice",
        "produces" : [ "application/xml", "application/json" ],
        "parameters" : [ {
          "name" : "deviceId",
          "in" : "path",
          "description" : "ID of the device",
          "required" : true,
          "type" : "integer",
          "format" : "int32"
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful operation",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/Port"
              }
            }
          },
          "404" : {
            "description" : "The specified resource was not found",
            "schema" : {
              "$ref" : "#/definitions/ApiResponse"
            }
          }
        }
      },
      "post" : {
        "tags" : [ "infrastructure device" ],
        "summary" : "Create a new port",
        "operationId" : "createInfrastructurePort",
        "produces" : [ "application/xml", "application/json" ],
        "parameters" : [ {
          "name" : "deviceId",
          "in" : "path",
          "description" : "ID of the device",
          "required" : true,
          "type" : "integer",
          "format" : "int32"
        }, {
          "in" : "body",
          "name" : "body",
          "description" : "Created port object",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/PortRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful operation",
            "schema" : {
              "$ref" : "#/definitions/Port"
            }
          },
          "400" : {
            "description" : "Validation error",
            "schema" : {
              "$ref" : "#/definitions/ApiResponse"
            }
          },
          "404" : {
            "description" : "The specified resource was not found",
            "schema" : {
              "$ref" : "#/definitions/ApiResponse"
            }
          }
        }
      }
    },
    "/infrastructure/device/port/{portId}" : {
      "get" : {
        "tags" : [ "infrastructure device" ],
        "summary" : "Find port by ID",
        "description" : "Returns a single port",
        "operationId" : "getInfrastructurePortById",
        "produces" : [ "application/xml", "application/json" ],
        "parameters" : [ {
          "name" : "portId",
          "in" : "path",
          "description" : "ID of the port",
          "required" : true,
          "type" : "integer",
          "format" : "int32"
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful operation",
            "schema" : {
              "$ref" : "#/definitions/Port"
            }
          },
          "404" : {
            "description" : "The specified resource was not found",
            "schema" : {
              "$ref" : "#/definitions/ApiResponse"
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "infrastructure device" ],
        "summary" : "Deletes a port",
        "description" : "",
        "operationId" : "deleteInfrastructurePort",
        "produces" : [ "application/xml", "application/json" ],
        "parameters" : [ {
          "name" : "portId",
          "in" : "path",
          "description" : "ID of the port",
          "required" : true,
          "type" : "integer",
          "format" : "int32"
        } ],
        "responses" : {
          "204" : {
            "description" : "Successful operation",
            "schema" : {
              "$ref" : "#/definitions/ApiResponse"
            }
          },
          "404" : {
            "description" : "The specified resource was not found",
            "schema" : {
              "$ref" : "#/definitions/ApiResponse"
            }
          }
        }
      }
    },
    "/tenant/{tenantId}/attachment" : {
      "get" : {
        "tags" : [ "tenant attachment" ],
        "summary" : "Find all attachments for a given tenant",
        "description" : "Returns all attachments for a given tenant",
        "operationId" : "getTenantAttachmentsByTenantId",
        "produces" : [ "application/xml", "application/json" ],
        "parameters" : [ {
          "name" : "tenantId",
          "in" : "path",
          "description" : "ID of the tenant",
          "required" : true,
          "type" : "integer",
          "format" : "int32"
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful operation",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/Attachment"
              }
            }
          },
          "404" : {
            "description" : "The specified resource was not found",
            "schema" : {
              "$ref" : "#/definitions/ApiResponse"
            }
          }
        }
      },
      "post" : {
        "tags" : [ "tenant attachment" ],
        "summary" : "Create a new network attachment",
        "description" : "",
        "operationId" : "addTenantAttachment",
        "consumes" : [ "application/json", "application/xml" ],
        "produces" : [ "application/xml", "application/json" ],
        "parameters" : [ {
          "name" : "tenantId",
          "in" : "path",
          "description" : "ID of the tenant",
          "required" : true,
          "type" : "integer",
          "format" : "int32"
        }, {
          "in" : "body",
          "name" : "body",
          "description" : "attachment request object that generates a new attachment",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/TenantAttachmentRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful operation",
            "schema" : {
              "$ref" : "#/definitions/Attachment"
            }
          },
          "400" : {
            "description" : "Validation error",
            "schema" : {
              "$ref" : "#/definitions/ApiResponse"
            }
          },
          "404" : {
            "description" : "The specified resource was not found",
            "schema" : {
              "$ref" : "#/definitions/ApiResponse"
            }
          }
        }
      }
    },
    "/tenant/attachment/{attachmentId}" : {
      "get" : {
        "tags" : [ "tenant attachment" ],
        "summary" : "Find attachment by ID",
        "description" : "Returns a single attachment",
        "operationId" : "getTenantAttachmentById",
        "produces" : [ "application/xml", "application/json" ],
        "parameters" : [ {
          "name" : "attachmentId",
          "in" : "path",
          "description" : "ID of the attachment",
          "required" : true,
          "type" : "integer",
          "format" : "int32"
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful operation",
            "schema" : {
              "$ref" : "#/definitions/Attachment"
            }
          },
          "404" : {
            "description" : "The specified resource was not found",
            "schema" : {
              "$ref" : "#/definitions/ApiResponse"
            }
          }
        }
      },
      "put" : {
        "tags" : [ "tenant attachment" ],
        "summary" : "Update an existing attachment",
        "description" : "",
        "operationId" : "updateTenantAttachment",
        "consumes" : [ "application/json", "application/xml" ],
        "produces" : [ "application/xml", "application/json" ],
        "parameters" : [ {
          "name" : "attachmentId",
          "in" : "path",
          "description" : "ID of the attachment",
          "required" : true,
          "type" : "integer",
          "format" : "int32"
        }, {
          "in" : "body",
          "name" : "body",
          "description" : "attachment update object that updates an existing attachment",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/AttachmentUpdate"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful operation",
            "schema" : {
              "$ref" : "#/definitions/Attachment"
            }
          },
          "400" : {
            "description" : "Validation error",
            "schema" : {
              "$ref" : "#/definitions/ApiResponse"
            }
          },
          "404" : {
            "description" : "The specified resource was not found",
            "schema" : {
              "$ref" : "#/definitions/ApiResponse"
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "tenant attachment" ],
        "summary" : "Deletes an attachment",
        "description" : "",
        "operationId" : "deleteTenantAttachment",
        "produces" : [ "application/xml", "application/json" ],
        "parameters" : [ {
          "name" : "attachmentId",
          "in" : "path",
          "description" : "ID of the attachment",
          "required" : true,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "api_key",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "204" : {
            "description" : "Validation error",
            "schema" : {
              "$ref" : "#/definitions/ApiResponse"
            }
          },
          "404" : {
            "description" : "The specified resource was not found",
            "schema" : {
              "$ref" : "#/definitions/ApiResponse"
            }
          }
        }
      }
    },
    "/tenant/attachment/{attachmentId}/vif" : {
      "get" : {
        "tags" : [ "tenant vif" ],
        "summary" : "Find all vifs for a given attachment",
        "description" : "Returns all vifs for a given attachment",
        "operationId" : "getAllTenantVifsByAttachmentId",
        "produces" : [ "application/xml", "application/json" ],
        "parameters" : [ {
          "name" : "attachmentId",
          "in" : "path",
          "description" : "ID of the attachment",
          "required" : true,
          "type" : "integer",
          "format" : "int32"
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful operation",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/Vif"
              }
            }
          },
          "404" : {
            "description" : "The specified resource was not found",
            "schema" : {
              "$ref" : "#/definitions/ApiResponse"
            }
          }
        }
      },
      "post" : {
        "tags" : [ "tenant vif" ],
        "summary" : "Create a new vif",
        "description" : "",
        "operationId" : "addTenantVif",
        "consumes" : [ "application/json", "application/xml" ],
        "produces" : [ "application/xml", "application/json" ],
        "parameters" : [ {
          "name" : "attachmentId",
          "in" : "path",
          "description" : "ID of the attachment",
          "required" : true,
          "type" : "integer",
          "format" : "int32"
        }, {
          "in" : "body",
          "name" : "body",
          "description" : "vif request object that generates a new vif",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/TenantVifRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful operation",
            "schema" : {
              "$ref" : "#/definitions/Vif"
            }
          },
          "400" : {
            "description" : "Validation error",
            "schema" : {
              "$ref" : "#/definitions/ApiResponse"
            }
          },
          "404" : {
            "description" : "The specified resource was not found",
            "schema" : {
              "$ref" : "#/definitions/ApiResponse"
            }
          }
        }
      }
    },
    "/tenant/attachment/vif/{vifId}" : {
      "get" : {
        "tags" : [ "tenant vif" ],
        "summary" : "Find vif by ID",
        "description" : "Returns a single vif",
        "operationId" : "getTenantVifById",
        "produces" : [ "application/xml", "application/json" ],
        "parameters" : [ {
          "name" : "vifId",
          "in" : "path",
          "description" : "ID of the vif",
          "required" : true,
          "type" : "integer",
          "format" : "int32"
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful operation",
            "schema" : {
              "$ref" : "#/definitions/Vif"
            }
          },
          "400" : {
            "description" : "Validation error",
            "schema" : {
              "$ref" : "#/definitions/ApiResponse"
            }
          },
          "404" : {
            "description" : "The specified resource was not found",
            "schema" : {
              "$ref" : "#/definitions/ApiResponse"
            }
          }
        }
      },
      "put" : {
        "tags" : [ "tenant vif" ],
        "summary" : "Update an existing vif",
        "description" : "",
        "operationId" : "updateTenantVif",
        "consumes" : [ "application/json", "application/xml" ],
        "produces" : [ "application/xml", "application/json" ],
        "parameters" : [ {
          "name" : "vifId",
          "in" : "path",
          "description" : "ID of the vif",
          "required" : true,
          "type" : "integer",
          "format" : "int32"
        }, {
          "in" : "body",
          "name" : "body",
          "description" : "vif update object that updates an existing vif",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/VifUpdate"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful operation",
            "schema" : {
              "$ref" : "#/definitions/Vif"
            }
          },
          "400" : {
            "description" : "Validation error",
            "schema" : {
              "$ref" : "#/definitions/ApiResponse"
            }
          },
          "404" : {
            "description" : "The specified resource was not found",
            "schema" : {
              "$ref" : "#/definitions/ApiResponse"
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "tenant vif" ],
        "summary" : "Deletes a vif",
        "description" : "",
        "operationId" : "deleteTenantVif",
        "produces" : [ "application/xml", "application/json" ],
        "parameters" : [ {
          "name" : "vifId",
          "in" : "path",
          "description" : "ID of the vif",
          "required" : true,
          "type" : "integer",
          "format" : "int32"
        } ],
        "responses" : {
          "204" : {
            "description" : "Successful operation",
            "schema" : {
              "$ref" : "#/definitions/ApiResponse"
            }
          },
          "404" : {
            "description" : "The specified resource was not found",
            "schema" : {
              "$ref" : "#/definitions/ApiResponse"
            }
          }
        }
      }
    },
    "/vpn" : {
      "get" : {
        "tags" : [ "vpn" ],
        "summary" : "Return all vpns",
        "description" : "Returns all vpns",
        "operationId" : "getAllVpns",
        "produces" : [ "application/xml", "application/json" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "Successful operation",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/Vpn"
              }
            }
          },
          "404" : {
            "description" : "The specified resource was not found",
            "schema" : {
              "$ref" : "#/definitions/ApiResponse"
            }
          }
        }
      },
      "post" : {
        "tags" : [ "vpn" ],
        "summary" : "Create a new virtual private network",
        "description" : "",
        "operationId" : "addVpn",
        "consumes" : [ "application/json", "application/xml" ],
        "produces" : [ "application/xml", "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "description" : "vpn request object that generates a new vpn",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/VpnRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful operation",
            "schema" : {
              "$ref" : "#/definitions/Vpn"
            }
          },
          "400" : {
            "description" : "Validation error",
            "schema" : {
              "$ref" : "#/definitions/ApiResponse"
            }
          }
        }
      }
    },
    "/vpn/{vpnId}" : {
      "get" : {
        "tags" : [ "vpn" ],
        "summary" : "Find vpn by ID",
        "description" : "Returns a single vpn",
        "operationId" : "getVpnById",
        "produces" : [ "application/xml", "application/json" ],
        "parameters" : [ {
          "name" : "vpnId",
          "in" : "path",
          "description" : "ID of the vpn",
          "required" : true,
          "type" : "integer",
          "format" : "int32"
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful operation",
            "schema" : {
              "$ref" : "#/definitions/Vpn"
            }
          },
          "404" : {
            "description" : "The specified resource was not found",
            "schema" : {
              "$ref" : "#/definitions/ApiResponse"
            }
          }
        }
      },
      "put" : {
        "tags" : [ "vpn" ],
        "summary" : "Update an existing vpn",
        "description" : "",
        "operationId" : "updateVpn",
        "consumes" : [ "application/json", "application/xml" ],
        "produces" : [ "application/xml", "application/json" ],
        "parameters" : [ {
          "name" : "vpnId",
          "in" : "path",
          "description" : "ID of the vpn",
          "required" : true,
          "type" : "integer",
          "format" : "int32"
        }, {
          "in" : "body",
          "name" : "body",
          "description" : "vpn update object that updates an existing vpn",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/VpnUpdate"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful operation",
            "schema" : {
              "$ref" : "#/definitions/Vpn"
            }
          },
          "400" : {
            "description" : "Validation error",
            "schema" : {
              "$ref" : "#/definitions/ApiResponse"
            }
          },
          "404" : {
            "description" : "The specified resource was not found",
            "schema" : {
              "$ref" : "#/definitions/ApiResponse"
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "vpn" ],
        "summary" : "Deletes a vpn",
        "description" : "",
        "operationId" : "deleteVpn",
        "produces" : [ "application/xml", "application/json" ],
        "parameters" : [ {
          "name" : "vpnId",
          "in" : "path",
          "description" : "ID of the vpn",
          "required" : true,
          "type" : "integer",
          "format" : "int32"
        } ],
        "responses" : {
          "204" : {
            "description" : "Successful operation",
            "schema" : {
              "$ref" : "#/definitions/ApiResponse"
            }
          },
          "404" : {
            "description" : "The specified resource was not found",
            "schema" : {
              "$ref" : "#/definitions/ApiResponse"
            }
          }
        }
      }
    },
    "/vpn/{vpnId}/attachment-set/{attachmentSetId}" : {
      "post" : {
        "tags" : [ "vpn" ],
        "summary" : "Add an attachment set to a virtual private network",
        "description" : "",
        "operationId" : "addVpnAttachmentSet",
        "consumes" : [ "application/json", "application/xml" ],
        "produces" : [ "application/xml", "application/json" ],
        "parameters" : [ {
          "name" : "vpnId",
          "in" : "path",
          "description" : "ID of the vpn",
          "required" : true,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "attachmentSetId",
          "in" : "path",
          "description" : "ID of the attachment set",
          "required" : true,
          "type" : "integer",
          "format" : "int32"
        } ],
        "responses" : {
          "204" : {
            "description" : "Successful operation",
            "schema" : {
              "$ref" : "#/definitions/ApiResponse"
            }
          },
          "404" : {
            "description" : "The specified resource was not found",
            "schema" : {
              "$ref" : "#/definitions/ApiResponse"
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "vpn" ],
        "summary" : "Remove an attachment set from a vpn",
        "description" : "",
        "operationId" : "removeAttachmentSet",
        "produces" : [ "application/xml", "application/json" ],
        "parameters" : [ {
          "name" : "vpnId",
          "in" : "path",
          "description" : "ID of the vpn",
          "required" : true,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "attachmentSetId",
          "in" : "path",
          "description" : "ID of the attachment set",
          "required" : true,
          "type" : "integer",
          "format" : "int32"
        } ],
        "responses" : {
          "204" : {
            "description" : "Successful operation",
            "schema" : {
              "$ref" : "#/definitions/ApiResponse"
            }
          },
          "404" : {
            "description" : "The specified resource was not found",
            "schema" : {
              "$ref" : "#/definitions/ApiResponse"
            }
          }
        }
      }
    },
    "/infrastructure/{deviceId}/attachment" : {
      "get" : {
        "tags" : [ "infrastructure attachment" ],
        "summary" : "Find all attachments for a given device",
        "description" : "Returns all attachments for a given tenant",
        "operationId" : "getInfrastructureAttachmentsByDeviceId",
        "produces" : [ "application/xml", "application/json" ],
        "parameters" : [ {
          "name" : "deviceId",
          "in" : "path",
          "description" : "ID of the infrastructure device",
          "required" : true,
          "type" : "integer",
          "format" : "int32"
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful operation",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/Attachment"
              }
            }
          },
          "404" : {
            "description" : "The specified resource was not found",
            "schema" : {
              "$ref" : "#/definitions/ApiResponse"
            }
          }
        }
      },
      "post" : {
        "tags" : [ "infrastructure attachment" ],
        "summary" : "Create a new network attachment",
        "description" : "",
        "operationId" : "addInfrastructureAttachment",
        "consumes" : [ "application/json", "application/xml" ],
        "produces" : [ "application/xml", "application/json" ],
        "parameters" : [ {
          "name" : "deviceId",
          "in" : "path",
          "description" : "ID of the infrastructure device",
          "required" : true,
          "type" : "integer",
          "format" : "int32"
        }, {
          "in" : "body",
          "name" : "body",
          "description" : "attachment request object that generates a new attachment",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/InfrastructureAttachmentRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful operation",
            "schema" : {
              "$ref" : "#/definitions/Attachment"
            }
          },
          "400" : {
            "description" : "Validation error",
            "schema" : {
              "$ref" : "#/definitions/ApiResponse"
            }
          },
          "404" : {
            "description" : "The specified resource was not found",
            "schema" : {
              "$ref" : "#/definitions/ApiResponse"
            }
          }
        }
      }
    },
    "/infrastructure/attachment/{attachmentId}" : {
      "get" : {
        "tags" : [ "infrastructure attachment" ],
        "summary" : "Find attachment by ID",
        "description" : "Returns a single attachment",
        "operationId" : "getInfrastructureAttachmentById",
        "produces" : [ "application/xml", "application/json" ],
        "parameters" : [ {
          "name" : "attachmentId",
          "in" : "path",
          "description" : "ID of the attachment",
          "required" : true,
          "type" : "integer",
          "format" : "int32"
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful operation",
            "schema" : {
              "$ref" : "#/definitions/Attachment"
            }
          },
          "404" : {
            "description" : "The specified resource was not found",
            "schema" : {
              "$ref" : "#/definitions/ApiResponse"
            }
          }
        }
      },
      "put" : {
        "tags" : [ "infrastructure attachment" ],
        "summary" : "Update an existing attachment",
        "description" : "",
        "operationId" : "updateInfrastructureAttachment",
        "consumes" : [ "application/json", "application/xml" ],
        "produces" : [ "application/xml", "application/json" ],
        "parameters" : [ {
          "name" : "attachmentId",
          "in" : "path",
          "description" : "ID of the attachment",
          "required" : true,
          "type" : "integer",
          "format" : "int32"
        }, {
          "in" : "body",
          "name" : "body",
          "description" : "attachment update object that updates an existing attachment",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/AttachmentUpdate"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful operation",
            "schema" : {
              "$ref" : "#/definitions/Attachment"
            }
          },
          "400" : {
            "description" : "Validation error",
            "schema" : {
              "$ref" : "#/definitions/ApiResponse"
            }
          },
          "404" : {
            "description" : "The specified resource was not found",
            "schema" : {
              "$ref" : "#/definitions/ApiResponse"
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "infrastructure attachment" ],
        "summary" : "Deletes an attachment",
        "description" : "",
        "operationId" : "deleteInfrastructureAttachment",
        "produces" : [ "application/xml", "application/json" ],
        "parameters" : [ {
          "name" : "attachmentId",
          "in" : "path",
          "description" : "ID of the attachment",
          "required" : true,
          "type" : "integer",
          "format" : "int32"
        } ],
        "responses" : {
          "204" : {
            "description" : "Successful operation",
            "schema" : {
              "$ref" : "#/definitions/ApiResponse"
            }
          },
          "404" : {
            "description" : "The specified resource was not found",
            "schema" : {
              "$ref" : "#/definitions/ApiResponse"
            }
          }
        }
      }
    },
    "/infrastructure/attachment/{attachmentId}/vif" : {
      "get" : {
        "tags" : [ "infrastructure vif" ],
        "summary" : "Find all vifs for a given attachment",
        "description" : "Returns all vifs for a given attachment",
        "operationId" : "getAllInfrastructureVifsByAttachmentId",
        "produces" : [ "application/xml", "application/json" ],
        "parameters" : [ {
          "name" : "attachmentId",
          "in" : "path",
          "description" : "ID of the attachment",
          "required" : true,
          "type" : "integer",
          "format" : "int32"
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful operation",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/Vif"
              }
            }
          },
          "404" : {
            "description" : "The specified resource was not found",
            "schema" : {
              "$ref" : "#/definitions/ApiResponse"
            }
          }
        }
      },
      "post" : {
        "tags" : [ "infrastructure vif" ],
        "summary" : "Create a new vif",
        "description" : "",
        "operationId" : "addInfrastructureVif",
        "consumes" : [ "application/json", "application/xml" ],
        "produces" : [ "application/xml", "application/json" ],
        "parameters" : [ {
          "name" : "attachmentId",
          "in" : "path",
          "description" : "ID of the attachment",
          "required" : true,
          "type" : "integer",
          "format" : "int32"
        }, {
          "in" : "body",
          "name" : "body",
          "description" : "vif request object that generates a new vif",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/InfrastructureVifRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful operation",
            "schema" : {
              "$ref" : "#/definitions/Vif"
            }
          },
          "400" : {
            "description" : "Validation error",
            "schema" : {
              "$ref" : "#/definitions/ApiResponse"
            }
          },
          "404" : {
            "description" : "The specified resource was not found",
            "schema" : {
              "$ref" : "#/definitions/ApiResponse"
            }
          }
        }
      }
    },
    "/infrastructure/attachment/vif/{vifId}" : {
      "get" : {
        "tags" : [ "infrastructure vif" ],
        "summary" : "Find vif by ID",
        "description" : "Returns a single vif",
        "operationId" : "getInfrastructureVifById",
        "produces" : [ "application/xml", "application/json" ],
        "parameters" : [ {
          "name" : "vifId",
          "in" : "path",
          "description" : "ID of the vif",
          "required" : true,
          "type" : "integer",
          "format" : "int32"
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful operation",
            "schema" : {
              "$ref" : "#/definitions/Vif"
            }
          },
          "404" : {
            "description" : "The specified resource was not found",
            "schema" : {
              "$ref" : "#/definitions/ApiResponse"
            }
          }
        }
      },
      "put" : {
        "tags" : [ "infrastructure vif" ],
        "summary" : "Update an existing vif",
        "description" : "",
        "operationId" : "updateInfrastructureVif",
        "consumes" : [ "application/json", "application/xml" ],
        "produces" : [ "application/xml", "application/json" ],
        "parameters" : [ {
          "name" : "vifId",
          "in" : "path",
          "description" : "ID of the vif",
          "required" : true,
          "type" : "integer",
          "format" : "int32"
        }, {
          "in" : "body",
          "name" : "body",
          "description" : "vif update object that updates an existing vif",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/VifUpdate"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful operation",
            "schema" : {
              "$ref" : "#/definitions/Vif"
            }
          },
          "400" : {
            "description" : "Validation error",
            "schema" : {
              "$ref" : "#/definitions/ApiResponse"
            }
          },
          "404" : {
            "description" : "The specified resource was not found",
            "schema" : {
              "$ref" : "#/definitions/ApiResponse"
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "infrastructure vif" ],
        "summary" : "Deletes a vif",
        "description" : "",
        "operationId" : "deleteInfrastructureVif",
        "produces" : [ "application/xml", "application/json" ],
        "parameters" : [ {
          "name" : "vifId",
          "in" : "path",
          "description" : "ID of the vif",
          "required" : true,
          "type" : "integer",
          "format" : "int32"
        } ],
        "responses" : {
          "204" : {
            "description" : "Successful operation",
            "schema" : {
              "$ref" : "#/definitions/ApiResponse"
            }
          },
          "404" : {
            "description" : "The specified resource was not found",
            "schema" : {
              "$ref" : "#/definitions/ApiResponse"
            }
          }
        }
      }
    },
    "/user/login" : {
      "get" : {
        "tags" : [ "user" ],
        "summary" : "Logs user into the system",
        "description" : "",
        "operationId" : "loginUser",
        "produces" : [ "application/xml", "application/json" ],
        "parameters" : [ {
          "name" : "username",
          "in" : "query",
          "description" : "The user name for login",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "password",
          "in" : "query",
          "description" : "The password for login in clear text",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "string"
            },
            "headers" : {
              "X-Rate-Limit" : {
                "type" : "integer",
                "format" : "int32",
                "description" : "calls per hour allowed by the user"
              },
              "X-Expires-After" : {
                "type" : "string",
                "format" : "date-time",
                "description" : "date in UTC when token expires"
              }
            }
          },
          "400" : {
            "description" : "Invalid username/password supplied"
          }
        }
      }
    },
    "/user/logout" : {
      "get" : {
        "tags" : [ "user" ],
        "summary" : "Logs out current logged in user session",
        "description" : "",
        "operationId" : "logoutUser",
        "produces" : [ "application/xml", "application/json" ],
        "parameters" : [ ],
        "responses" : {
          "default" : {
            "description" : "successful operation"
          }
        }
      }
    },
    "/user/{username}" : {
      "get" : {
        "tags" : [ "user" ],
        "summary" : "Get user by user name",
        "description" : "",
        "operationId" : "getUserByName",
        "produces" : [ "application/xml", "application/json" ],
        "parameters" : [ {
          "name" : "username",
          "in" : "path",
          "description" : "The name that needs to be fetched. Use user1 for testing. ",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/User"
            }
          },
          "400" : {
            "description" : "Invalid username supplied"
          },
          "404" : {
            "description" : "User not found"
          }
        }
      },
      "put" : {
        "tags" : [ "user" ],
        "summary" : "Updated user",
        "description" : "This can only be done by the logged in user.",
        "operationId" : "updateUser",
        "produces" : [ "application/xml", "application/json" ],
        "parameters" : [ {
          "name" : "username",
          "in" : "path",
          "description" : "name that need to be updated",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "description" : "Updated user object",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/User"
          }
        } ],
        "responses" : {
          "400" : {
            "description" : "Invalid user supplied"
          },
          "404" : {
            "description" : "User not found"
          }
        }
      },
      "delete" : {
        "tags" : [ "user" ],
        "summary" : "Delete user",
        "description" : "This can only be done by the logged in user.",
        "operationId" : "deleteUser",
        "produces" : [ "application/xml", "application/json" ],
        "parameters" : [ {
          "name" : "username",
          "in" : "path",
          "description" : "The name that needs to be deleted",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "400" : {
            "description" : "Invalid username supplied"
          },
          "404" : {
            "description" : "User not found"
          }
        }
      }
    }
  },
  "definitions" : {
    "ApiResponse" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "type" : "integer",
          "format" : "int32"
        },
        "type" : {
          "type" : "string"
        },
        "message" : {
          "type" : "string"
        }
      },
      "example" : {
        "code" : 0,
        "type" : "type",
        "message" : "message"
      }
    },
    "TenantAttachmentRequest" : {
      "type" : "object",
      "required" : [ "locationName" ],
      "properties" : {
        "isLayer3" : {
          "type" : "boolean",
          "description" : "Determines if the attachment is enabled for layer 3",
          "default" : false
        },
        "bundleRequired" : {
          "type" : "boolean",
          "description" : "Determines if a bundle style of attachment is required",
          "default" : false
        },
        "multiportRequired" : {
          "type" : "boolean",
          "description" : "Determines if a multi port style of attachment is required",
          "default" : false
        },
        "isTagged" : {
          "type" : "boolean",
          "description" : "Determines if the attachment should be enabled for tagging",
          "default" : false
        },
        "locationName" : {
          "type" : "string",
          "description" : "The name of a provider network location within which the new attachment will be provisioned"
        },
        "planeName" : {
          "type" : "string",
          "description" : "Optional name of the provider network plane within which the attachment will be provisioned",
          "enum" : [ "Red", "Blue" ]
        },
        "attachmentBandwidthGbps" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The required bandwidth of the attachment in Gbps"
        },
        "contractBandwidthMbps" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The required contract bandwidth in Mbps"
        },
        "trustReceivedCosDscp" : {
          "type" : "boolean",
          "description" : "Determines whether DSCP and COS markings of packets sent from the tenant network should be trusted by the provider",
          "default" : false
        },
        "IpAddress1" : {
          "type" : "string",
          "description" : "IPv4 address assigned to the first connection in the attachment",
          "pattern" : "^(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$"
        },
        "SubnetMask1" : {
          "type" : "string",
          "description" : "IPv4 subnet mask assigned to the first connection in the attachment",
          "pattern" : "^(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$"
        },
        "IpAddress2" : {
          "type" : "string",
          "description" : "IPv4 address assigned to the second connection in the attachment",
          "pattern" : "^(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$"
        },
        "SubnetMask2" : {
          "type" : "string",
          "description" : "IPv4 subnet mask assigned to the second connection in the attachment",
          "pattern" : "^(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$"
        },
        "IpAddress3" : {
          "type" : "string",
          "description" : "IPv4 address assigned to the third connection in the attachment",
          "pattern" : "^(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$"
        },
        "SubnetMask3" : {
          "type" : "string",
          "description" : "IPv4 subnet mask assigned to the third connection in the attachment",
          "pattern" : "^(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$"
        },
        "IpAddress4" : {
          "type" : "string",
          "description" : "IPv4 address assigned to the fourth connection in the attachment",
          "pattern" : "^(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$"
        },
        "SubnetMask4" : {
          "type" : "string",
          "description" : "IPv4 subnet mask assigned to the fourth connection in the attachment",
          "pattern" : "^(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$"
        }
      },
      "example" : {
        "locationName" : "locationName",
        "contractBandwidthMbps" : 6,
        "isLayer3" : false,
        "attachmentBandwidthGbps" : 0,
        "isTagged" : false,
        "planeName" : "Red",
        "SubnetMask1" : "SubnetMask1",
        "SubnetMask2" : "SubnetMask2",
        "multiportRequired" : false,
        "SubnetMask3" : "SubnetMask3",
        "SubnetMask4" : "SubnetMask4",
        "bundleRequired" : false,
        "trustReceivedCosDscp" : false,
        "IpAddress1" : "IpAddress1",
        "IpAddress2" : "IpAddress2",
        "IpAddress3" : "IpAddress3",
        "IpAddress4" : "IpAddress4"
      },
      "xml" : {
        "name" : "TenantAttachmentRequest"
      }
    },
    "InfrastructureAttachmentRequest" : {
      "type" : "object",
      "required" : [ "deviceName" ],
      "properties" : {
        "isLayer3" : {
          "type" : "boolean",
          "description" : "Determines if the attachment is enabled for layer 3",
          "default" : false
        },
        "bundleRequired" : {
          "type" : "boolean",
          "description" : "Determines if a bundle style of attachment is required",
          "default" : false
        },
        "multiportRequired" : {
          "type" : "boolean",
          "description" : "Determines if a multi port style of attachment is required",
          "default" : false
        },
        "isTagged" : {
          "type" : "boolean",
          "description" : "Determines if the attachment should be enabled for tagging",
          "default" : false
        },
        "deviceName" : {
          "type" : "string",
          "description" : "Name of the device to which the attachment will be assigned"
        },
        "attachmentBandwidthGbps" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The required bandwidth of the attachment in Gbps"
        },
        "IpAddress1" : {
          "type" : "string",
          "description" : "IPv4 address assigned to the first connection in the attachment",
          "pattern" : "^(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$"
        },
        "SubnetMask1" : {
          "type" : "string",
          "description" : "IPv4 subnet mask assigned to the first connection in the attachment",
          "pattern" : "^(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$"
        },
        "IpAddress2" : {
          "type" : "string",
          "description" : "IPv4 address assigned to the second connection in the attachment",
          "pattern" : "^(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$"
        },
        "SubnetMask2" : {
          "type" : "string",
          "description" : "IPv4 subnet mask assigned to the second connection in the attachment",
          "pattern" : "^(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$"
        },
        "IpAddress3" : {
          "type" : "string",
          "description" : "IPv4 address assigned to the third connection in the attachment",
          "pattern" : "^(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$"
        },
        "SubnetMask3" : {
          "type" : "string",
          "description" : "IPv4 subnet mask assigned to the third connection in the attachment",
          "pattern" : "^(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$"
        },
        "IpAddress4" : {
          "type" : "string",
          "description" : "IPv4 address assigned to the fourth connection in the attachment",
          "pattern" : "^(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$"
        },
        "SubnetMask4" : {
          "type" : "string",
          "description" : "IPv4 subnet mask assigned to the fourth connection in the attachment",
          "pattern" : "^(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$"
        }
      },
      "example" : {
        "isLayer3" : false,
        "attachmentBandwidthGbps" : 0,
        "deviceName" : "deviceName",
        "isTagged" : false,
        "SubnetMask1" : "SubnetMask1",
        "SubnetMask2" : "SubnetMask2",
        "multiportRequired" : false,
        "SubnetMask3" : "SubnetMask3",
        "SubnetMask4" : "SubnetMask4",
        "bundleRequired" : false,
        "IpAddress1" : "IpAddress1",
        "IpAddress2" : "IpAddress2",
        "IpAddress3" : "IpAddress3",
        "IpAddress4" : "IpAddress4"
      },
      "xml" : {
        "name" : "TenantAttachmentRequest"
      }
    },
    "AttachmentUpdate" : {
      "type" : "object",
      "properties" : {
        "trustReceivedCosDscp" : {
          "type" : "boolean",
          "description" : "Determines whether DSCP and COS markings of packets should be trusted by the provider"
        }
      },
      "example" : {
        "trustReceivedCosDscp" : true
      },
      "xml" : {
        "name" : "AttachmenUpdate"
      }
    },
    "Attachment" : {
      "type" : "object",
      "properties" : {
        "attachmentId" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "ID of the attachment"
        },
        "trustReceivedCosDscp" : {
          "type" : "boolean",
          "description" : "Determines whether DSCP and COS markings of packets should be trusted by the provider"
        },
        "isLayer3" : {
          "type" : "boolean",
          "description" : "Determines whether the attachment is enabled for layer 3",
          "default" : false
        },
        "isBundle" : {
          "type" : "boolean",
          "description" : "Determines if the attachment is delivered as a bundle",
          "default" : false
        },
        "isMultiport" : {
          "type" : "boolean",
          "description" : "Determines if the attachment is delivered as a multiport",
          "default" : false
        },
        "isTagged" : {
          "type" : "boolean",
          "description" : "Determines if the attachment is enabled with tagging",
          "default" : false
        },
        "tenant" : {
          "$ref" : "#/definitions/Tenant"
        },
        "infrastructureDevice" : {
          "$ref" : "#/definitions/InfrastructureDevice"
        },
        "attachmentBandwidthGbps" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The bandwidth of the attachment in Gbps"
        },
        "contractBandwidthPool" : {
          "$ref" : "#/definitions/ContractBandwidthPool"
        },
        "routingInstance" : {
          "$ref" : "#/definitions/RoutingInstance"
        }
      },
      "example" : {
        "isBundle" : false,
        "isTagged" : false,
        "contractBandwidthPool" : {
          "name" : "name",
          "contractBandwidthMbps" : 5
        },
        "isMultiport" : false,
        "trustReceivedCosDscp" : true,
        "attachmentId" : 0,
        "isLayer3" : false,
        "attachmentBandwidthGbps" : 5,
        "infrastructureDevice" : {
          "useLayer2InterfaceMtu" : true,
          "planeName" : "planeName",
          "locationName" : "locationName",
          "name" : "name",
          "description" : "description",
          "deviceModel" : "deviceModel",
          "ports" : [ {
            "portPool" : "portPool",
            "name" : "name",
            "portStatus" : "portStatus",
            "portId" : 1,
            "type" : "type",
            "portSfp" : "portSfp",
            "portRole" : "portRole"
          }, {
            "portPool" : "portPool",
            "name" : "name",
            "portStatus" : "portStatus",
            "portId" : 1,
            "type" : "type",
            "portSfp" : "portSfp",
            "portRole" : "portRole"
          } ],
          "deviceID" : 6,
          "deviceStatus" : "deviceStatus"
        },
        "routingInstance" : {
          "routingInstanceId" : 0,
          "name" : "name"
        },
        "tenant" : {
          "tenantId" : 0,
          "name" : "name"
        }
      },
      "xml" : {
        "name" : "Attachment"
      }
    },
    "AttachmentSetRequest" : {
      "type" : "object",
      "properties" : {
        "region" : {
          "type" : "string",
          "description" : "The geographic region within which the attachment set operates",
          "enum" : [ "EMEA", "ASIAPAC", "AMERS" ]
        },
        "subRegion" : {
          "type" : "string",
          "description" : "The sub-region within which the attachment set operates",
          "minLength" : 1,
          "maxLength" : 15
        },
        "attachmentRedundancy" : {
          "type" : "string",
          "description" : "Determines the type of attachment redundancy supported by the attachment set",
          "enum" : [ "Bronze", "Silver", "Gold", "Custom" ]
        },
        "isLayer3" : {
          "type" : "boolean",
          "description" : "Determines if the attachment set should be enabled for layer 3",
          "default" : true
        },
        "routingInstances" : {
          "type" : "array",
          "description" : "Routing instances to add to the attachment set",
          "items" : {
            "$ref" : "#/definitions/AttachmentSetRequest_routingInstances"
          }
        }
      },
      "example" : {
        "subRegion" : "subRegion",
        "routingInstances" : [ {
          "routingInstanceId" : 0,
          "locaIpRoutingPreference" : 6,
          "advertisedIpRoutingPreference" : 1
        }, {
          "routingInstanceId" : 0,
          "locaIpRoutingPreference" : 6,
          "advertisedIpRoutingPreference" : 1
        } ],
        "attachmentRedundancy" : "Bronze",
        "isLayer3" : true,
        "region" : "EMEA"
      },
      "xml" : {
        "name" : "AttachmentSetRequest"
      }
    },
    "AttachmentSet" : {
      "type" : "object",
      "properties" : {
        "name" : {
          "type" : "string",
          "description" : "System-generated name of the attachment set"
        },
        "region" : {
          "type" : "string",
          "description" : "The geographic region within which the attachment set operates"
        },
        "subRegion" : {
          "type" : "string",
          "description" : "The sub-region within which the attachment set operates"
        },
        "attachmentRedundancy" : {
          "type" : "string",
          "description" : "Determines the type of attachment redundancy supported by the attachment set"
        },
        "isLayer3" : {
          "type" : "boolean",
          "description" : "Determines if the attachment set is enabled for layer 3"
        }
      },
      "example" : {
        "subRegion" : "subRegion",
        "name" : "name",
        "attachmentRedundancy" : "attachmentRedundancy",
        "isLayer3" : true,
        "region" : "region"
      },
      "xml" : {
        "name" : "AttachmentSet"
      }
    },
    "Tenant" : {
      "type" : "object",
      "required" : [ "name" ],
      "properties" : {
        "tenantId" : {
          "type" : "integer",
          "format" : "int64",
          "readOnly" : true
        },
        "name" : {
          "type" : "string",
          "description" : "The name of the tenant",
          "maxLength" : 50,
          "pattern" : "^[a-zA-Z0-9-]+$"
        }
      },
      "example" : {
        "tenantId" : 0,
        "name" : "name"
      },
      "xml" : {
        "name" : "Tenant"
      }
    },
    "InfrastructureDeviceRequest" : {
      "type" : "object",
      "required" : [ "description", "deviceModel", "deviceStatus", "locationName", "name", "planeName" ],
      "properties" : {
        "name" : {
          "type" : "string",
          "description" : "The name of the device",
          "maxLength" : 50,
          "pattern" : "^[a-zA-Z0-9-]+$"
        },
        "description" : {
          "type" : "string",
          "description" : "A description of the device",
          "maxLength" : 200
        },
        "deviceModel" : {
          "type" : "string",
          "description" : "The model of the device"
        },
        "planeName" : {
          "type" : "string",
          "description" : "The provider network plane to which the device belongs"
        },
        "locationName" : {
          "type" : "string",
          "description" : "The location of the device"
        },
        "deviceStatus" : {
          "type" : "string",
          "description" : "The status of the device"
        },
        "useLayer2InterfaceMtu" : {
          "type" : "boolean",
          "description" : "Determines if layer 2 overhead is included in the device MTU calculation"
        },
        "ports" : {
          "type" : "array",
          "description" : "List of ports for the device",
          "items" : {
            "$ref" : "#/definitions/Port"
          }
        }
      },
      "example" : {
        "useLayer2InterfaceMtu" : true,
        "planeName" : "planeName",
        "locationName" : "locationName",
        "name" : "name",
        "description" : "description",
        "deviceModel" : "deviceModel",
        "ports" : [ {
          "portPool" : "portPool",
          "name" : "name",
          "portStatus" : "portStatus",
          "portId" : 1,
          "type" : "type",
          "portSfp" : "portSfp",
          "portRole" : "portRole"
        }, {
[...]
