@model Mind.WebUI.Models.TenantViewModel

@{
    ViewData["Title"] = "Details";
}

<div id="crumbs">
    <ul>
        <li><a href="/Home"><i class="fa fa-home" aria-hidden="true"></i></a></li>
        <li><a href="/Tenant/GetAll"><i class="fa" aria-hidden="true"></i> Tenants</a></li>
        <li><a href="#"><i class="fa" aria-hidden="true"></i>Details - [@Model.Name]</a></li>
    </ul>
</div>

<h2>Details for Tenant '@Model.Name'</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
    <hr />
</div>
<div>

    <a mind-edit-btn-link="true" asp-action="Edit" asp-route-tenantId="@Model.TenantId">Edit</a> |
    <a mind-nav-link-back-btn="true" asp-action="GetAll">Back to List</a>
</div>
