@model Mind.WebUI.Models.TenantUpdateViewModel

@{
    ViewData["Title"] = "Edit";
}

<div id="crumbs">
    <ul>
        <li><a href="/Home"><i class="fa fa-home" aria-hidden="true"></i></a></li>
        <li><a href="/Tenant/GetAll"><i class="fa" aria-hidden="true"></i> Tenants</a></li>
        <li><a href="#"><i class="fa" aria-hidden="true"></i>Edit - [@Model.Name]</a></li>
    </ul>
</div>

<h2>Edit</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <hr />
        @{await Html.RenderPartialAsync("_ValidationModelErrorPartial");}
        <input type="hidden" asp-for="TenantId" />
        <input type="hidden" asp-for="RowVersion" />
        <div class="form-group row">
            <label asp-for="Name" class="col-md-2 col-form-label"></label>
            <div class="col-md-10">
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-offset-2 col-md-10">
                <a asp-action="Edit"></a>
            </div>
        </div>
    </div>
</form>

<div>
    <a mind-nav-link-back-btn="true" asp-action="GetAll">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
