@model SCM.Models.ViewModels.VifViewModel
@inject IOptions<ApplicationConfiguration> ApplicationConfiguration
@using Microsoft.Extensions.Options;
@using SCM;

@{
    ViewData["Title"] = "Delete";
}

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/Home">Home</a></li>
    <li class="breadcrumb-item"><a href="/Tenant/GetAll">Tenants</a></li>
    <li class="breadcrumb-item"><a href="/TenantAttachment/GetAllByTenantID?tenanID=@ViewBag.Attachment.TenantID">Tenant Attachments - [@ViewBag.Attachment.Tenant.Name]</a></li>
    <li class="breadcrumb-item"><a href="/TenantVif/GetAllByAttachmentID/@ViewBag.Attachment.AttachmentID">Tenant VIFs - [@ViewBag.Attachment.Name]</a></li>
    <li class="breadcrumb-item active">Delete [@Model.Name]</li>
</ol>

<h2>Delete Tenant VIF '@Model.Name'</h2>

@{await Html.RenderPartialAsync("_MessagingPartial");}
@{await Html.RenderPartialAsync("_ValidationModelErrorPartial");}

<h3>Are you sure you want to delete this?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.VlanTag)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VlanTag)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="VifID" />
        <input type="hidden" asp-for="AttachmentID" />
        <input type="hidden" asp-for="RowVersion" />
        <div class="form-actions no-color">
            @if (ApplicationConfiguration.Value.EnableNetworkSync)
            {
                @if (Model.VifRole.RequireSyncToNetwork)
                {
                    <button type="submit" id="DeleteFromNetwork" class="btn btn-info btn-warning" asp-action="DeleteFromNetwork">
                        <span class="glyphicon glyphicon-remove"></span>&nbsp;Delete from Network
                    </button><span>|</span>
                }
            }
            <button type="submit" id="Delete" class="btn btn-info btn-danger" asp-action="Delete">
                <span class="glyphicon glyphicon-remove"></span>&nbsp;Delete
            </button> |
            <a asp-action="GetAllByAttachmentID" asp-route-id="@Model.AttachmentID">Back to Tenant VIFs List</a>
        </div>
    </form>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}