@{
    ViewData["Title"] = "Home Page";
}

<div class="card-deck" style="width: 100%">
    <a class="card custom-card bg-light" href="/Tenant/GetAll">
        <img class="card-img-top mx-auto d-block" src="~/images/home-page-connectivity.png" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Connectivty</h5>
            <p class="card-text">Create and manage the life-cycle of network connectivity services</p>
        </div>
    </a>
    <a class="card custom-card bg-light" href="/Infrastructure" style="width: 16em;">
        <img class="card-img-top mx-auto d-block" src="~/images/infrastructure.png" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Infrastructure</h5>
            <p class="card-text">Manage provider domain infrastructure</p>
        </div>
    </a>
</div>
