@{
    ViewData["Title"] = "Home Page";
}

<div class="card-deck">
    <a class="card custom-card" href="/Tenant/GetAll" style="width: 18rem;">
        <img class="card-img-top mx-auto d-block" src="~/images/tenants.png" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Tenants</h5>
            <p class="card-text">Create and manage the lifecycle of tenants</p>
        </div>
    </a>
    <a class="card custom-card" href="/Infrastructure" style="width: 18rem;">
        <img class="card-img-top mx-auto d-block" src="~/images/infrastructure.png" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Infrastructure</h5>
            <p class="card-text">Manage provider domain infrastructure</p>
        </div>
    </a>
</div>
