@model SCM.Models.ViewModels.InfrastructureAttachmentRequestViewModel

@{
    ViewData["Title"] = "Create Attachment";
}

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/Home">Home</a></li>
    <li class="breadcrumb-item"><a href="/Infrastructure/Index">Infrastructure</a></li>
    <li class="breadcrumb-item"><a href="/InfrastructureAttachment/GetAll">Infrastructure Attachments</a></li>
    <li class="breadcrumb-item active">Create</li>
</ol>

<h2>Create new Infrastructure Attachment</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <hr />
        @{await Html.RenderPartialAsync("_ValidationModelErrorPartial");}
        <div class="form-group">
            <label asp-for="Region" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="RegionID" class="form-control" asp-items="ViewBag.RegionID">
                    <option value="">-- Select Region --</option>
                </select>
                <span asp-validation-for="RegionID" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="SubRegion" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="SubRegionID" class="form-control" asp-items="ViewBag.SubRegionID">
                    <option value="">-- Select Sub-Region --</option>
                </select>
                <span asp-validation-for="SubRegionID" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Location" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="LocationID" class="form-control" asp-items="ViewBag.LocationID">
                    <option value="">-- Select Location --</option>
                </select>
                <span asp-validation-for="LocationID" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Device" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="DeviceID" class="form-control" asp-items="ViewBag.DeviceID">
                    <option value="">-- Select Device --</option>
                </select>
                <span asp-validation-for="DeviceID" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="PortPool" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="PortPoolID" class="form-control" asp-items="ViewBag.PortPoolID">
                    <option value="">-- Select a Port Pool --</option>
                </select>
                <span asp-validation-for="PortPoolID" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="AttachmentRole" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="AttachmentRoleID" class="form-control" asp-items="ViewBag.AttachmentRoleID">
                    <option value="">-- Select a Role --</option>
                </select>
                <span asp-validation-for="AttachmentRoleID" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Bandwidth" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="BandwidthID" class="form-control" asp-items="ViewBag.BandwidthID">
                    <option value="">-- Select a Bandwidth --</option>
                </select>
                <span asp-validation-for="BandwidthID" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-2">
            </div>
            <div class="col-md-2">
                <label class="checkbox-inline">
                    <input type="checkbox" asp-for="BundleRequired" data-toggle="tooltip" title="Request a bundle attachment">
                    <label asp-for="BundleRequired"></label>
                </label>
            </div>
            <div class="col-md-2">
                <label class="checkbox-inline">
                    <input type="checkbox" asp-for="MultiPortRequired" data-toggle="tooltip" title="Request a multi-port attachment">
                    <label asp-for="MultiPortRequired"></label>
                </label>
            </div>
            <div class="col-md-6">
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-2">
            </div>
            <div class="col-md-2">
                <label class="checkbox-inline">
                    <input type="checkbox" asp-for="IsTagged" data-toggle="tooltip" title="Enable for IEEE802.1Q vlan tagging">
                    <label asp-for="IsTagged"></label>
                </label>
            </div>
            <div class="col-md-2">
                <label class="checkbox-inline">
                    <input type="checkbox" asp-for="IsLayer3" data-toggle="tooltip" title="Enable for layer 3">
                    <label asp-for="IsLayer3"></label>
                </label>
            </div>
            <div class="col-md-6">
            </div>
        </div>
        <div id="L3Components1">
            <div class="form-group">
                <label asp-for="IpAddress1" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="IpAddress1" class="form-control" data-toggle="tooltip" data-placement="right"
                           title="Enter an IP address for the Attachment" />
                    <span asp-validation-for="IpAddress1" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="SubnetMask1" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="SubnetMask1" class="form-control" data-toggle="tooltip" data-placement="right"
                           title="Enter a subnet mask for the Attachment" />
                    <span asp-validation-for="SubnetMask1" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div id="L3Components2">
            <div class="form-group">
                <label asp-for="IpAddress2" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="IpAddress2" class="form-control" data-toggle="tooltip" data-placement="right"
                           title="Enter an IP address for the second interface which comprises the Attachment" />
                    <span asp-validation-for="IpAddress2" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="SubnetMask2" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="SubnetMask2" class="form-control" data-toggle="tooltip" data-placement="right"
                           title="Enter a subnet mask for the second interface which comprises the Attachment" />
                    <span asp-validation-for="SubnetMask2" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div id="L3Components4">
            <div class="form-group">
                <label asp-for="IpAddress3" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="IpAddress3" class="form-control" data-toggle="tooltip" data-placement="right"
                           title="Enter an IP address for the third interface which comprises the Attachment" />
                    <span asp-validation-for="IpAddress3" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="SubnetMask3" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="SubnetMask3" class="form-control" data-toggle="tooltip" data-placement="right"
                           title="Enter a subnet mask for the third interface which comprises the Attachment" />
                    <span asp-validation-for="SubnetMask3" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="IpAddress4" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="IpAddress4" class="form-control" data-toggle="tooltip" data-placement="right"
                           title="Enter an IP address for the forth interface which comprises the Attachment" />
                    <span asp-validation-for="IpAddress4" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="SubnetMask4" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="SubnetMask4" class="form-control" data-toggle="tooltip" data-placement="right"
                           title="Enter a subnet mask for the forth interface which comprises the Attachment" />
                    <span asp-validation-for="SubnetMask4" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Description" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Notes" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <textarea asp-for="Notes" class="form-control" rows="5" ></textarea>
                <span asp-validation-for="Notes" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" id="Create" class="btn btn-success" asp-action="Create">
                    <span class="glyphicon glyphicon-plus"></span>&nbsp;Create
                </button>
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="GetAll">Back to Infrastructure Attachments List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">

        (function ($) {

            var $region = $('#RegionID'),
                region = $region[0],
                $subregion = $('#SubRegionID'),
                subregion = $subregion[0],
                $location = $('#LocationID'),
                location = $location[0],
                $device = $('#DeviceID'),
                device = $device[0],
                $bandwidth = $('#BandwidthID'),
                bandwidth = $bandwidth[0],
                $isLayer3 = $('#IsLayer3'),
                isLayer3 = $isLayer3[0],
                $isTagged = $('#IsTagged'),
                isTagged = $isTagged[0],
                $bundleRequired = $('#BundleRequired'),
                bundleRequired = $bundleRequired[0],
                $multiPortRequired = $('#MultiPortRequired'),
                multiPortRequired = $multiPortRequired[0],
                $portPool = $('#PortPoolID'),
                portPool = $portPool[0],
                $attachmentRole = $('#AttachmentRoleID'),
                attachmentRole = $attachmentRole[0],
                $l3Components1 = $('#L3Components1'),
                $l3Components2 = $('#L3Components2'),
                $l3Components4 = $('#L3Components4');

            // Initialise all tool-tips

            $('[data-toggle="tooltip"]').tooltip();

            if (attachmentRole.value == null || attachmentRole.value == "") {

                attachmentRole.disabled = true;
            }

            if (portPool.value == null || portPool.value == "") {

                portPool.disabled = true;
            }

            if (device.value == null || device.value == "") {

                device.disabled = true;
            }

            if (location.value == null || location.value == "") {

                location.disabled = true;
            }

            if (subregion.value == null || subregion.value == "") {

                subregion.disabled = true;
            }

            showHideL3Components();

            $region.on('change', function (e) {

                var regionID = this.value;
                if (regionID == null || regionID == "") {

                    subregion.selectedIndex = 0;
                    subregion.disabled = true;
                    location.selectedIndex = 0;
                    location.disabled = true;
                    device.selectedIndex = 0;
                    device.disabled = true;
                    portPool.selectedIndex = 0;
                    portPool.disabled = true;
                    attachmentRole.selectedIndex = 0;
                    attachmentRole.disabled = true;
                }
                else {

                    location.selectedIndex = 0;
                    location.disabled = true;
                    device.selectedIndex = 0;
                    device.disabled = true;
                    portPool.selectedIndex = 0;
                    portPool.disabled = true;
                    attachmentRole.selectedIndex = 0;
                    attachmentRole.disabled = true;
             
                    PopulateHtmlFromUrl($subregion, "/InfrastructureAttachment/SubRegions", { id: regionID });
                }
            });

            $subregion.on('change', function (e) {

                var subRegionID = this.value;
                if (subRegionID == null || subRegionID == "") {

                    location.selectedIndex = 0;
                    location.disabled = true;
                    device.selectedIndex = 0;
                    device.disabled = true;
                    portPool.selectedIndex = 0;
                    portPool.disabled = true;
                    attachmentRole.selectedIndex = 0;
                    attachmentRole.disabled = true;
                }
                else {

                    device.selectedIndex = 0;
                    device.disabled = true;
                    portPool.selectedIndex = 0;
                    portPool.disabled = true;
                    attachmentRole.selectedIndex = 0;
                    attachmentRole.disabled = true;

                    PopulateHtmlFromUrl($location, "/InfrastructureAttachment/Locations", { id: subRegionID });
                }
            });

            $location.on('change', function (e) {

                var locationID = this.value;
                if (locationID == null || locationID == "") {

                    device.selectedIndex = 0;
                    device.disabled = true;
                    portPool.selectedIndex = 0;
                    portPool.disabled = true;
                    attachmentRole.selectedIndex = 0;
                    attachmentRole.disabled = true;
                }
                else {

                    portPool.selectedIndex = 0;
                    portPool.disabled = true;
                    attachmentRole.selectedIndex = 0;
                    attachmentRole.disabled = true;

                    PopulateHtmlFromUrl($device, "/InfrastructureAttachment/Devices", { locationID: locationID });
                }
            })

            $device.on('change', function (e) {

                var deviceID = this.value;
                if (deviceID == null || deviceID == "") {

                    portPool.selectedIndex = 0;
                    attachmentRole.selectedIndex = 0;
                    portPool.disabled = true;
                    attachmentRole.disabled = true;
                }
                else {

                    portPool.disabled = false;
                    portPool.selectedIndex = 0;
                    attachmentRole.selectedIndex = 0;
                    attachmentRole.disabled = true;

                }
            });

            $portPool.on('change', function (e) {

                var portPoolID = this.value;
                if (portPoolID == null || portPoolID == "") {

                    attachmentRole.selectedIndex = 0;
                    attachmentRole.disabled = true;
                }
                else {

                    var deviceID = device.value;

                    PopulateHtmlFromUrl($attachmentRole, "/InfrastructureAttachment/AttachmentRoles", {
                        portPoolID: portPoolID, deviceID: deviceID
                    });
                }
            });

            $isLayer3.on('click', function (e) {

                var isLayer3Checked = this.checked;
                showHideL3Components();

                if (isLayer3Checked) {

                    isTagged.checked = false;
                }
                else {

                    // Clear any IP address and subnet mask information from the controls
                    // to prevent it being sent to the server

                    $l3Components1.find(":input").val('');
                    $l3Components2.find(":input").val('');
                    $l3Components4.find(":input").val('');

                }
            });

            $isTagged.on('click', function (e) {

                var isTaggedChecked = this.checked;

                if (isTaggedChecked) {

                    isLayer3.checked = false;

                    // Clear any IP address and subnet mask information from the controls
                    // to prevent it being sent to the server

                    $l3Components1.find(":input").val('');
                    $l3Components2.find(":input").val('');
                    $l3Components4.find(":input").val('');

                    showHideL3Components();
                }
            });

            $multiPortRequired.on('click', function (e) {

                bundleRequired.checked = false;
                showHideL3Components();
            });

            $bundleRequired.on('click', function (e) {

                multiPortRequired.checked = false;
                showHideL3Components();
            });

            $bandwidth.on('change', function (e) {

                showHideL3Components();
            });

            function PopulateHtmlFromUrl($e, url, data) {

                // Disable the element during loading
                $e[0].disabled = true;

                $.get(url, data)
                    .done(function (data) {

                        // Enable the html element to be populated
                        $e[0].disabled = false;

                        $e.html(data);
                    });
            }

            function showHideL3Components() {

                $l3Components1.fadeOut();
                $l3Components2.fadeOut();
                $l3Components4.fadeOut();

                if (!isLayer3.checked) {

                    return;
                }

                $l3Components1.fadeIn();

                var selectedBandwith = bandwidth.options[bandwidth.selectedIndex].text;

                if (multiPortRequired.checked) {

                    if (selectedBandwith == "20") {

                        $l3Components2.fadeIn();
                    }
                    else if (selectedBandwith == "40") {

                        $l3Components2.fadeIn();
                        $l3Components4.fadeIn();
                    }
                }
            }

        }(jQuery));

    </script>
}