@model SCM.Models.ViewModels.AttachmentPortUpdateViewModel

@{
    ViewData["Title"] = "Edit Attachment Port";
}

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/Home">Home</a></li>
    <li class="breadcrumb-item"><a href="/Infrastructure/Index">Infrastructure</a></li>
    <li class="breadcrumb-item"><a href="/InfrastructureAttachment/GetAll">Infrastructure Attachments</a></li>
    <li class="breadcrumb-item"><a href="/InfrastructureAttachment/GetAllInterfacesByAttachmentID/@ViewBag.Attachment.AttachmentID">Interfaces - [@ViewBag.Attachment.Name]</a></li>
    <li class="breadcrumb-item"><a href="/InfrastructureAttachment/GetAllPortsByInterfaceID/@ViewBag.Interface.InterfaceID">Ports - [@ViewBag.Interface.Name]</a></li>
    <li class="breadcrumb-item active">Edit Port - [@Model.FullName]</li>
</ol>

<h2>Edit Port '@Model.FullName' for Device '@Model.Device.Name'</h2>

<form asp-action="EditPort">
    <div class="form-horizontal">
        <hr />
        @{await Html.RenderPartialAsync("_ValidationModelErrorPartial");}
        <input type="hidden" asp-for="AttachmentID" />
        <input type="hidden" asp-for="InterfaceID" />
        <input type="hidden" asp-for="CurrentPortID" />
        <input type="hidden" asp-for="LocationID" />
        <input type="hidden" asp-for="RowVersion" />
        <div class="form-group">
            <label asp-for="Port" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="PortID" class="form-control" asp-items="ViewBag.PortID">
                    <option value="">-- Select a Port --</option>
                </select>
                <span asp-validation-for="PortID" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" id="Edit" class="btn btn-success" asp-action="EditPort">
                    <span class="glyphicon glyphicon-save"></span>&nbsp;Save
                </button>
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="GetAllPortsByInterfaceID" asp-route-id="@ViewBag.Interface.InterfaceID">Back to Ports List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}